extends modules/layout/layout.pug
include modules/script/lib
append head
  title="Index - HomePage 07"
append header
  .home07__topbar
    .container
      .home04__topbar-inner
        .left
          span
            i.fa.fa-map-marker
            | London City, England ( 
            a(href="#") View map 
            | )
          a(href="tel:+911  125 814 - 3527") 
            i.fa.fa-phone
            | +911  125 814 - 3527
        span
          i.fa.fa-clock-o
          | Mon to Fri  / 08:00 am  -  05:00pm
  .header04
    .container
      .header04__inner
        .header04__logo
          img(src="images/logo-bg-white.png", alt="demo")
        a(href="#menu").btn-menu-mobile
          i.fa.fa-bars   
        .header04__menu
          ul.navi-level-1.dark
            li
              a(href="#") HOME
                i.fa.fa-caret-down
              ul.navi-level-2
                li
                  a(href='index.html') Home Version  1
                li
                  a(href='home_02.html') Home Version  2
                li
                  a(href='home_03.html') Home Version  3
                li
                  a(href='home_04.html') Home Version  4
                li
                  a(href='home_05.html') Home Version  5
                li
                  a(href='home_06.html') Home Version  6
                li
                  a(href='home_07.html') Home Version  7
                li
                  a(href='home_08.html') Home Version  8
            li
              a(href="#") ABOUT
                i.fa.fa-caret-down               
            li
              a(href="#") PAGES
                i.fa.fa-caret-down 
              ul.navi-level-2
                li
                  a(href='#') Shop
                    i.fa.fa-caret-right
                  ul.navi-level-3
                    li
                      a(href='#') Shop 2
                    li
                      a(href='#') Shop 3
                li
                  a(href='#') Event
                    i.fa.fa-caret-right
                  ul.navi-level-3
                    li
                      a(href='#') Event 2
                    li
                      a(href='#') Event 3
                li
                  a(href='#') Case Study
                    i.fa.fa-caret-right
                  ul.navi-level-3
                    li
                      a(href='#') Event 2
                    li
                      a(href='#') Event 3
                li
                  a(href='home_04.html') Coming Soon
                li
                  a(href='home_05.html') 404 Error              
            li
              a(href="#") SERVICES 
                i.fa.fa-caret-down                          
            li
              a(href="#") BLOG
                i.fa.fa-caret-down
              ul.navi-level-2
                li
                  a(href='#') Blog Default
                li
                  a(href='#') Blog Grid
                    i.fa.fa-caret-right
                  ul.navi-level-3
                    li
                      a(href='#') Blog Grid No SideBar
                    li
                      a(href="#") Blog Grid with Left Sidebar
                    li
                      a(href="#") Blog Grid with Right Sidebar
                li
                  a(href='#') Blog List
                li
                  a(href='#') Single Blog
            li
              a(href="#") CONTACTS
          .header04__control
            a(href='#').header01-btn-cart
              i.fa.fa-shopping-cart(aria-hidden='true')
            .header01-search
              a.header01-btn-search.btn-search-navi(href='#/')
                i.fa.fa-search(aria-hidden='true')
              .search-popup
                form.form-search-navi
                  .input-group
                    input.form-control(placeholder='Enter keyword...', type='text')
  nav#menu
    ul
      li
        a(href='#') Company
        ul
          li
            a(href='index.html') Home Version  1
          li
            a(href='home_02.html') Home Version  2
          li
            a(href='home_03.html') Home Version  3
          li
            a(href='home_04.html') Home Version  4
          li
            a(href='home_05.html') Home Version  5
          li
            a(href='home_06.html') Home Version  6
          li
            a(href='home_07.html') Home Version  7
          li
            a(href='home_08.html') Home Version  8
      li
        a(href="#") ABOUT
      li
        a(href="#") PAGES
        ul
          li
            a(href='#') Shop
            ul
              li
                a(href='#') Shop 2
              li
                a(href='#') Shop 3
          li
            a(href='#') Event
            ul.navi-level-3
              li
                a(href='#') Event 2
              li
                a(href='#') Event 3
          li
            a(href='#') Case Study
            ul.navi-level-3
              li
                a(href='#') Event 2
              li
                a(href='#') Event 3
          li
            a(href='home_04.html') Coming Soon
          li
            a(href='home_05.html') 404 Error              
      li
        a(href="#") SERVICES 
      li
        a(href="#") BLOG
        ul
          li
            a(href='#') Blog Default
          li
            a(href='#') Blog Grid
            ul
              li
                a(href='#') Blog Grid No SideBar
              li
                a(href="#") Blog Grid with Left Sidebar
              li
                a(href="#") Blog Grid with Right Sidebar
          li
            a(href='#') Blog List
          li
            a(href='#') Single Blog
      li
        a(href="#") CONTACTS

append content
  div
    .slider-home-07.rev_slider_wrapper.fullwidthbanner-container
      // START REVOLUTION SLIDER 5.0.7 auto mode
      #js-slider-home01.rev_slider.fullwidthabanner(style='display:none;', data-version="5.4.1")
        ul
          li
            img.rev-slidebg(
              src='images/home07-slide-01.jpg', 
              alt='demo', 
              data-bgposition='center center', 
              data-bgfit='cover', 
              data-bgrepeat='no-repeat')
            .tp-caption.tp-resizeme.sh1--white(
              data-x="['left']", 
              data-hoffset="['0']", 
              data-y='top', 
              data-voffset='250', 
              data-width="['580','580','480','320']", 
              data-transform_idle='o:1;', 
              data-transform_in='x:100px;opacity:0;s:800;e:Power3.easeOut;', 
              data-transform_out='s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;', 
              data-start='1500', data-whitespace="['nowrap','nowrap','nowrap','normal']", 
              data-fontsize="['14','14','14','14']", 
              data-responsive_offset='on')
              p WE'RE CONSULTAX
            .tp-caption.tp-resizeme.sh2--white(
              data-x="['left']", 
              data-hoffset="['0']", 
              data-y='center', 
              data-voffset="['0','-55','-55','-55']", 
              data-width="['670','580','480','320']", 
              data-transform_idle='o:1;', 
              data-transform_in='x:100px;opacity:0;s:800;e:Power3.easeOut;', 
              data-transform_out='s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;', 
              data-start='1700', 
              data-whitespace="['normal']", 
              data-fontsize="['50','50','40','30']", 
              data-lineheight="['60','60','50','40']", 
              data-responsive_offset='on')
              p Financial Consulting For Your Business
            .tp-caption(
              data-x="['left']", 
              data-hoffset="['0']", 
              data-y='bottom', 
              data-voffset="['200','175','175','175']", 
              data-transform_idle='o:1;', 
              data-transform_in='x:100px;opacity:0;s:800;e:Power3.easeOut;', 
              data-transform_out='s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;', 
              data-start='2100')
              a.btn-white(href='#') GET QUOTE
  //- main services
  .home07-services.ssp
    .container
      .row
        .home07-services__inner
          .home07-services__content
            p.rotate-title CONSULTAX 2003- 2018
            .main-title
              h3 Our Mission, Values 
                br
                | and Motto
              span A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy, my dear friend, so absorbed in the exquisite sense of mere tranquil existence, that I neglect my talents.
            a(href="#").btn-white--outline ABOUT US
          .services__menu
            .services__menu--heading
              h3 The main services
              .services__menu--divider
            a(href="#").services__menu--item
              i.icon.ion-umbrella
              span Audit & Assurance
            a(href="#").services__menu--item
              i.fa.fa-briefcase 
              span Financial Projections
            a(href="#").services__menu--item
              i.fa.fa-bar-chart
              span Trades & Stocks
            a(href="#").services__menu--item
              i.fa.fa-file-text-o
              span Strategic Planning
            .services__menu--footer
              a(href="#").services__menu--btn VIEW ALL SERVICES
  //- feature
  .home07-feature.bg-blue-light.ssp
    .container
      .row
        .main-title
          p FEATURE
          h3 Why choose us ?
        .home7-feature.block-icon-home
          .row
            .col-sm-4
              .content-block
                h4.title Quality Services
                p.desc
                  | Conubia ut aliquam cubili gravida sed morbi accumsan hac du, ultrices hendrerit parturien.
            .col-sm-4
              .content-block
                h4.title Valuable Ideas
                p.desc
                  | Conubia ut aliquam cubili gravida sed morbi accumsan hac du, ultrices hendrerit parturien.
            .col-sm-4
              .content-block
                h4.title Budget Friendly
                p.desc
                  | Conubia ut aliquam cubili gravida sed morbi accumsan hac du, ultrices hendrerit parturien.  
  //- our services
  .home07-project.ssp
    .overlay
    .container
      .row
        .home07-project__inner
          .main-title--white
            p OUR PROJECT
            h3 We are the leaders
            a(href="#") All projects
          .home07-project__cover
            .group-control.group-slider-control03
              .control.js-btn-prev__project.prev
                i.fa.fa-angle-left
              .control.js-btn-next__project.next
                i.fa.fa-angle-right
            .js-slick-project-main-home07
              .home07-project__main-item
                img(src="images/home07-project01.jpg" alt="demo")
              .home07-project__main-item
                img(src="images/home07-project02.jpg" alt="demo")
              .home07-project__main-item
                img(src="images/home07-project03.jpg" alt="demo")
              .home07-project__main-item
                img(src="images/home07-project01.jpg" alt="demo")
              .home07-project__main-item
                img(src="images/home07-project02.jpg" alt="demo")
          .home07-project__thumb.js-slick-project-thumbs-home07
            .home07-project__thumb-item
              p Contract project: August 27, 2018
              h3 Planning the development for the viral world
              a.read-more(href="#") View Detail
            .home07-project__thumb-item
              p Contract project: August 22, 2018
              h3 Planning the development for the viral world
              a.read-more(href="#") View Detail
            .home07-project__thumb-item
              p Contract project: August 21, 2018
              h3 Planning the development for the viral world
              a.read-more(href="#") View Detail
            .home07-project__thumb-item
              p Contract project: August 21, 2018
              h3 Planning the development for the viral world
              a.read-more(href="#") View Detail
            .home07-project__thumb-item
              p Contract project: August 21, 2018
              h3 Planning the development for the viral world
              a.read-more(href="#") View Detail
    //- team
  .home02-team.ssp
    .container
      .row
        .main-title
          p OUR TEAM
          h3 Meet our team
        .home02-team__inner
          .col-md-4
            .team02__item
              .overlay02
                p.team02__name James Patterson
                p.team02__job Founder & CEO
                .team02__divider
                p.team02__desc Enim nisi dui potenti tempor lacinia elementum massa nascetur, curabitur augue netus imperdiet nam.
                ul.list-social01
                  li
                    a(href="#").facebook
                      i.fa.fa-facebook
                  li
                    a(href="#").twitter
                      i.fa.fa-twitter
                  li
                    a(href="#").pinterest
                      i.fa.fa-pinterest
              img(src="images/team01.png" alt="demo")
          .col-md-4
            .team02__item
              .overlay02
                p.team02__name James Patterson
                p.team02__job Founder & CEO
                .team02__divider
                p.team02__desc Enim nisi dui potenti tempor lacinia elementum massa nascetur, curabitur augue netus imperdiet nam.
                ul.list-social01
                  li
                    a(href="#").facebook
                      i.fa.fa-facebook
                  li
                    a(href="#").twitter
                      i.fa.fa-twitter
                  li
                    a(href="#").pinterest
                      i.fa.fa-pinterest
              img(src="images/team02.png" alt="demo")
          .col-md-4
            .team02__item
              .overlay02
                p.team02__name James Patterson
                p.team02__job Founder & CEO
                .team02__divider
                p.team02__desc Enim nisi dui potenti tempor lacinia elementum massa nascetur, curabitur augue netus imperdiet nam.
                ul.list-social01
                  li
                    a(href="#").facebook
                      i.fa.fa-facebook
                  li
                    a(href="#").twitter
                      i.fa.fa-twitter
                  li
                    a(href="#").pinterest
                      i.fa.fa-pinterest
              img(src="images/team03.png" alt="demo")
  //- testimonial
  .home07-testimonial.ssp.bg-blue-light
    .container
      .testimonial.testimonial7
        .main-title
          p TESTIMONIAL & PARTNER
          h3 What our clients say
          .group-control.group-slider-control01
            .control.js-btn-prev__testimonial
              i.fa.fa-angle-left
            .control.js-btn-next__testimonial
              i.fa.fa-angle-right
        .row.js-slick-testimonial-home07.slick-testimonial-home07        
          .testimonial07__item-carousel
            .testimonial7__content
              .testimonial7__top
                .testimonial7__avatar
                  img(src="images/h4_avatar1.png" alt="")
                  .testimonial7__star
                    span 4.5
                      i.icon.ion-ios-star
              .testimonial7__bottom
                p.testimonial__desc.testimonial7__desc
                  | I should be incapable of drawing a single stroke at the present moment; and yet I feel that I never was a greater artist than now.
                .testimonial7__bottom2.d-flex
                  .testimonial7__info
                    h3.testimonial-title Bang Bay Buom
                    p.testimonial-from from Hanoi
                  .testimonial7__time
                    | - on August 27, 2018
          .testimonial07__item-carousel
            .testimonial7__content
              .testimonial7__top
                .testimonial7__avatar
                  img(src="images/h4_avatar4.png" alt="")
                  .testimonial7__star
                    span 4.5
                      i.icon.ion-ios-star
              .testimonial7__bottom
                p.testimonial__desc.testimonial7__desc
                  | O my friend -- but it is too much for my strength -- I sink under the weight of the splendour of these visions! A wonderful serenity has taken possession of my entire soul.
                .testimonial7__bottom2.d-flex
                  .testimonial7__info
                    h3.testimonial-title Occhos deokinh
                    p.testimonial-from from Beijing
                  .testimonial7__time
                    | - on August 27, 2018
          .testimonial07__item-carousel
            .testimonial7__content
              .testimonial7__top
                .testimonial7__avatar
                  img(src="images/h4_avatar3.png" alt="")
                  .testimonial7__star
                    span 4.5
                      i.icon.ion-ios-star
              .testimonial7__bottom
                p.testimonial__desc.testimonial7__desc
                  |I should be incapable of drawing a single stroke at the present moment; and yet I feel that I never was a greater artist than now. 
                .testimonial7__bottom2.d-flex
                  .testimonial7__info
                    h3.testimonial-title Occhos deokinh
                    p.testimonial-from from Beijing
                  .testimonial7__time
                    | - on August 27, 2018
          .testimonial07__item-carousel
            .testimonial7__content
              .testimonial7__top
                .testimonial7__avatar
                  img(src="images/h4_avatar3.png" alt="")
                  .testimonial7__star
                    span 4.5
                      i.icon.ion-ios-star
              .testimonial7__bottom
                p.testimonial__desc.testimonial7__desc
                  | I should be incapable of drawing a single stroke at the present moment; and yet I feel that I never was a greater artist than now. 
                .testimonial7__bottom2.d-flex
                  .testimonial7__info
                    h3.testimonial-title Occhos deokinh
                    p.testimonial-from from Beijing
                  .testimonial7__time
                    | - on August 27, 2018                        
          .testimonial07__item-carousel
            .testimonial7__content
              .testimonial7__top
                .testimonial7__avatar
                  img(src="images/h4_avatar1.png" alt="")
                  .testimonial7__star
                    span 4.5
                      i.icon.ion-ios-star
              .testimonial7__bottom
                p.testimonial__desc.testimonial7__desc
                  | I should be incapable of drawing a single stroke at the present moment; and yet I feel that I never was a greater artist than now. 
                .testimonial7__bottom2.d-flex
                  .testimonial7__info
                    h3.testimonial-title Occhos deokinh
                    p.testimonial-from from Beijing
                  .testimonial7__time
                    | - on August 27, 2018                  
          .testimonial07__item-carousel
            .testimonial7__content
              .testimonial7__top
                .testimonial7__avatar
                  img(src="images/h4_avatar5.png" alt="")
                  .testimonial7__star
                    span 4.5
                      i.icon.ion-ios-star
              .testimonial7__bottom
                p.testimonial__desc.testimonial7__desc
                  | I should be incapable of drawing a single stroke at the present moment; and yet I feel that I never was a greater artist than now. 
                .testimonial7__bottom2.d-flex
                  .testimonial7__info
                    h3.testimonial-title Occhos deokinh
                    p.testimonial-from from Beijing
                  .testimonial7__time
                    | - on August 27, 2018
  //- blog & cta
  .home07-blog.ssp
    .container
      .row
        .col-md-8
          .main-title
            p OUR BLOG
            h3 Our latest news
            a(href="#") View all Post
      .row
        .col-md-8
          .post-type-01
            .post-thumb
              a(href='#')
                img(src='images/home07-blog-01.jpg')
            .post-content
              p.post__meta
                span August 27, 2018
                span.divider | 
                a(href='#') Finance
              h3.post__title
                a(href='#') Investment Update, Fourth Quarter 2018
              p.post__desc
                | When, while the lovely valley teems with vapour around me, and the meridian sun strikes the upper surface of the impenetrable foliage of my trees, and but a few stray gleams.
              .post__meta-info
                a.read-more(href='#') Read More
        .col-md-4
          .home07-cta-01
            .main-title--white
              p SUBSCRIBE
              h3  subscribe for the newsletter
              span Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.
            .cta-form
              form
                .form-row
                  .form-field
                    input.ct-input(type="text", placeholder="Name")
                .form-row
                  .form-field
                    input.ct-input(type="email", placeholder="Email address")
                .form-row.last
                  .form-field
                    button.btn-orange SUBSCRIBE
  //- footer
  .footer07
    .footer07__inner
      .container
        .row
          .col-md-4
            .footer07__block01
              a(href="index.html")
                img(src="images/logo-color.png")
              p Lorem ipsum dolor sit amet consectetur adipiscing elit praesent, laoreet vitae luctus...
                a.read-more(href="#") Read more
          .col-md-8
            .footer07__block02
              ul.list__link03--dark
                li
                  a(href="#") Services
                li
                  a(href="#") FAQ
                li
                  a(href="#") About us
                li
                  a(href="#") Featured
                li
                  a(href="#") Coctact
                li
                  a(href="#") Cases
              ul.list-social02--dark
                  li
                    a(href="#").facebook
                      i.fa.fa-facebook
                  li
                    a(href="#").twitter
                      i.fa.fa-twitter
                  li
                    a(href="#").pinterest
                      i.fa.fa-pinterest
                  li
                    a(href="#").linkedin
                      i.fa.fa-linkedin
              span.text-copyright © 2018 Finacial Consulting Theme by Ocean Themes
  #js-footer07__map.js-footer07__map
  +lib
  script(defer src="js/slick-project-home07.min.js")
  script(defer src="js/slick-testimonial-home07.min.js")   
  script(defer src="js/main-slider-home01.min.js")
  script(defer src="js/main-menu-desktop.min.js")
  script(defer src="js/mobilemenu.min.js")
  script(src="js/extention/maplace.min.js")  
  script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBS5224HISbnpAiKW7mx6eyTrHxfGeCftk')
  script(type='text/javascript').
    var LocsA = [
    {
    lat: 37.774509,
    lon: -122.411727,
    title: 'San Francisco',
    html: [
    '<div class="map__info-window"><h3><i class="fa fa-location-arrow"></i>AREA ONE</h3>',
    '<p>307 Jesse Centers London City, England 12568 </p>',
    '<div class="control"><a href="#">Contact Us</a><a href="#">Get directions</a></div></div>'
    ].join(''),
    icon: 'images/map-icon01.png',
    animation: google.maps.Animation.DROP,
    zoom:4
    },
    {
    lat: 34.298450,
    lon: -111.714435,
    title: 'Arizona',
    html: [
    '<div class="map__info-window"><h3><i class="fa fa-location-arrow"></i>AREA TWO</h3>',
    '<p>307 Jesse Centers London City, England 12568 </p>',
    '<div class="control"><a href="#">Contact Us</a><a href="#">Get directions</a></div></div>'
    ].join(''),
    icon: 'images/map-icon01.png',
    show_infowindow: true,
    animation: google.maps.Animation.DROP,
    zoom:4
    },
    {
    lat: 35.775319,
    lon: -79.708533,
    title: 'North Carolina',
    html: [
    '<div class="map__info-window"><h3><i class="fa fa-location-arrow"></i>AREA THREE</h3>',
    '<p>307 Jesse Centers London City, England 12568 </p>',
    '<div class="control"><a href="#">Contact Us</a><a href="#">Get directions</a></div></div>'
    ].join(''),
    icon: 'images/map-icon01.png',
    animation: google.maps.Animation.DROP,
    zoom:4
    },
    {
    lat: 39.952644,
    lon: -75.165247,
    title: 'Philadelphia',
    html: [
    '<div class="map__info-window"><h3><i class="fa fa-location-arrow"></i>AREA FOUR</h3>',
    '<p>307 Jesse Centers London City, England 12568 </p>',
    '<div class="control"><a href="#">Contact Us</a><a href="#">Get directions</a></div></div>'
    ].join(''),
    icon: 'images/map-icon01.png',
    animation: google.maps.Animation.DROP,
    zoom:4
    }
    ];
    new Maplace({
    locations: LocsA,
    map_div: '#js-footer07__map',
    controls_type: 'list',
    controls_on_map: false,
    map_options: {
    scrollwheel: false
    },
    start:1,
    styles: {
    "Ultra Light": [
    {
    "featureType": "landscape",
    "stylers": [
    {
    "saturation": -100
    },
    {
    "lightness": 65
    },
    {
    "visibility": "on"
    }
    ]
    },
    {
    "featureType": "poi",
    "stylers": [
    {
    "saturation": -100
    },
    {
    "lightness": 51
    },
    {
    "visibility": "simplified"
    }
    ]
    },
    {
    "featureType": "road.highway",
    "stylers": [
    {
    "saturation": -100
    },
    {
    "visibility": "simplified"
    }
    ]
    },
    {
    "featureType": "road.arterial",
    "stylers": [
    {
    "saturation": -100
    },
    {
    "lightness": 30
    },
    {
    "visibility": "on"
    }
    ]
    },
    {
    "featureType": "road.local",
    "stylers": [
    {
    "saturation": -100
    },
    {
    "lightness": 40
    },
    {
    "visibility": "on"
    }
    ]
    },
    {
    "featureType": "transit",
    "stylers": [
    {
    "saturation": -100
    },
    {
    "visibility": "simplified"
    }
    ]
    },
    {
    "featureType": "administrative.province",
    "stylers": [
    {
    "visibility": "off"
    }
    ]
    },
    {
    "featureType": "water",
    "elementType": "labels",
    "stylers": [
    {
    "visibility": "on"
    },
    {
    "lightness": -25
    },
    {
    "saturation": -100
    }
    ]
    },
    {
    "featureType": "water",
    "elementType": "geometry",
    "stylers": [
    {
    "hue": "#ffff00"
    },
    {
    "lightness": -25
    },
    {
    "saturation": -97
    }
    ]
    }
    ],
    }
    }).Load();
