extends modules/layout/layout.pug
include modules/script/lib
append head
  title="Index - HomePage 06"
append header
  .header06
    .container.container-lg
      .header06__inner
        .header06__logo
          img(src="images/logo-white.png", alt="demo")
        a(href="#menu").btn-menu-mobile
          i.fa.fa-bars   
        .header06__menu
          ul.navi-level-1
            li
              a(href="#") HOME
                i.fa.fa-caret-down
              ul.navi-level-2
                li
                  a(href='index.html') Home Version  1
                li
                  a(href='home_02.html') Home Version  2
                li
                  a(href='home_03.html') Home Version  3
                li
                  a(href='home_04.html') Home Version  4
                li
                  a(href='home_05.html') Home Version  5
                li
                  a(href='home_06.html') Home Version  6
                li
                  a(href='home_07.html') Home Version  7
                li
                  a(href='home_08.html') Home Version  8
            li
              a(href="#") ABOUT
                i.fa.fa-caret-down               
            li
              a(href="#") PAGES
                i.fa.fa-caret-down 
              ul.navi-level-2
                li
                  a(href='#') Shop
                    i.fa.fa-caret-right
                  ul.navi-level-3
                    li
                      a(href='#') Shop 2
                    li
                      a(href='#') Shop 3
                li
                  a(href='#') Event
                    i.fa.fa-caret-right
                  ul.navi-level-3
                    li
                      a(href='#') Event 2
                    li
                      a(href='#') Event 3
                li
                  a(href='#') Case Study
                    i.fa.fa-caret-right
                  ul.navi-level-3
                    li
                      a(href='#') Event 2
                    li
                      a(href='#') Event 3
                li
                  a(href='home_04.html') Coming Soon
                li
                  a(href='home_05.html') 404 Error              
            li
              a(href="#") SERVICES 
                i.fa.fa-caret-down                          
            li
              a(href="#") BLOG
                i.fa.fa-caret-down
              ul.navi-level-2
                li
                  a(href='#') Blog Default
                li
                  a(href='#') Blog Grid
                    i.fa.fa-caret-right
                  ul.navi-level-3
                    li
                      a(href='#') Blog Grid No SideBar
                    li
                      a(href="#") Blog Grid with Left Sidebar
                    li
                      a(href="#") Blog Grid with Right Sidebar
                li
                  a(href='#') Blog List
                li
                  a(href='#') Single Blog
            li
              a(href="#") CONTACTS
          .header06__control
            .header01-search
              a.header01-btn-search.btn-search-navi(href='#/')
                i.fa.fa-search(aria-hidden='true')
              .search-popup
                form.form-search-navi
                  .input-group
                    input.form-control(placeholder='Enter keyword...', type='text')
            a(href='#').header01-btn-cart
              i.fa.fa-shopping-cart(aria-hidden='true')
          a(href="tel:09447644545").header06__btn-call
            span.icon.ion-ios-telephone
            div
              p FREE
              p CONSULTATION
  nav#menu
    ul
      li
        a(href='#') HOME
        ul
          li
            a(href='index.html') Home Version  1
          li
            a(href='home_02.html') Home Version  2
          li
            a(href='home_03.html') Home Version  3
          li
            a(href='home_04.html') Home Version  4
          li
            a(href='home_05.html') Home Version  5
          li
            a(href='home_06.html') Home Version  6
          li
            a(href='home_07.html') Home Version  7
          li
            a(href='home_08.html') Home Version  8
      li
        a(href="#") ABOUT
      li
        a(href="#") PAGES
        ul
          li
            a(href='#') Shop
            ul
              li
                a(href='#') Shop 2
              li
                a(href='#') Shop 3
          li
            a(href='#') Event
            ul.navi-level-3
              li
                a(href='#') Event 2
              li
                a(href='#') Event 3
          li
            a(href='#') Case Study
            ul.navi-level-3
              li
                a(href='#') Event 2
              li
                a(href='#') Event 3
          li
            a(href='home_04.html') Coming Soon
          li
            a(href='home_05.html') 404 Error              
      li
        a(href="#") SERVICES 
      li
        a(href="#") BLOG
        ul
          li
            a(href='#') Blog Default
          li
            a(href='#') Blog Grid
            ul
              li
                a(href='#') Blog Grid No SideBar
              li
                a(href="#") Blog Grid with Left Sidebar
              li
                a(href="#") Blog Grid with Right Sidebar
          li
            a(href='#') Blog List
          li
            a(href='#') Single Blog
      li
        a(href="#") CONTACTS

append content
  div
    .slider-home-06.rev_slider_wrapper.fullwidthbanner-container
      // START REVOLUTION SLIDER 5.0.7 auto mode
      #js-slider-home06.rev_slider.fullwidthabanner(style='display:none;', data-version="5.4.1")
        ul
          li
            img.rev-slidebg(
              src='images/home06-main-slider01.jpg', 
              alt='demo', 
              data-bgposition='center center', 
              data-bgfit='cover', 
              data-bgrepeat='no-repeat')
            .tp-caption.tp-resizeme.tp-videolayer(
              id="slide-2971-layer-15" 
              data-x="['center','center','center','center']" 
              data-hoffset="['0','0','0','0']" 
              data-y="['middle','middle','middle','middle']" 
              data-voffset="['0','0','0','0']" 
              data-whitespace="nowrap"
              data-type="video" 
              data-responsive_offset="on" 
              data-frames='[{"from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","speed":1500,"to":"o:1;","delay":"bytrigger","ease":"Power3.easeInOut"},{"delay":"bytrigger","speed":300,"to":"auto:auto;","ease":"nothing"}]'
              data-vimeoid="142874198" 
              data-videoattributes="title=0&byline=0&portrait=0&api=1" 
              data-videowidth="['960px','720px','480px','360px']" 
              data-videoheight="['540px','405px','270px','203px']" 
              data-videoloop="none"           
              data-textAlign="['left','left','left','left']"
              data-paddingtop="[0,0,0,0]"
              data-paddingright="[0,0,0,0]"
              data-paddingbottom="[0,0,0,0]"
              data-paddingleft="[0,0,0,0]"
              data-lasttriggerstate="reset"           
              data-autoplay="off" 
              data-volume="100")
            .tp-caption.rev-btn(
              id="slide-2971-layer-20" 
              data-x="['center','center','center','center']" data-hoffset="['510','389','270','199']" 
              data-y="['middle','middle','middle','middle']" data-voffset="['-298','-229','-163','-118']" 
              data-width="50"
              data-height="none"
              data-whitespace="nowrap"
              data-type="button" 
              data-actions='[{"event":"click","action":"stoplayer","layer":"slide-2971-layer-15","delay":""},{"event":"click","action":"stoplayer","layer":"slide-2971-layer-19","delay":""},{"event":"click","action":"stoplayer","layer":"slide-2971-layer-20","delay":""}]'
              data-responsive_offset="on" 
              data-responsive="off"
              data-frames='[{"from":"z:0;rX:0;rY:0;rZ:45deg;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","speed":500,"to":"o:1;","delay":"bytrigger","ease":"Power3.easeInOut"},{"delay":"bytrigger","speed":500,"to":"auto:auto;","ease":"nothing"},{"frame":"hover","speed":"500","ease":"Power1.easeInOut","to":"o:1;sX:1.1;sY:1.1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(255, 255, 255, 1.00);"}]'
              data-textAlign="['center','center','center','center']"
              data-paddingtop="[0,0,0,0]"
              data-paddingright="[0,0,0,0]"
              data-paddingbottom="[0,0,0,0]"
              data-paddingleft="[0,0,0,0]"
              data-lasttriggerstate="reset")
              .btn-close-video
                i.icon.ion-android-close
        .tp-static-layers
          .tp-caption.tp-resizeme.tp-static-layer(
            data-x="['left','left','left','left']",
            data-hoffset="['50','50','50','50']",
            data-y="['bottom','bottom','bottom','bottom']",
            data-voffset="['0','100','100','100']",
            data-basealign="slide" 
            data-responsive_offset="on",
            data-startslide="0",
            data-endslide="2",
            data-frames='[{"delay":3000,"speed":1500,"frame":"0","from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
            data-paddingtop="[0,0,0,0]",
            data-paddingright="[0,0,0,0]",
            data-paddingbottom="[0,0,0,0]",
            data-paddingleft="[0,0,0,0]")
            img(src="images/circle01.png" data-ww="['735px','326px','326px','326px']" data-hh="['735px','326px','326px','326px']")
          .tp-caption.tp-resizeme.tp-static-layer(
            data-x="['left','left','left','left']",
            data-hoffset="['255','125','125','125']",
            data-y="['bottom','bottom','bottom','bottom']",
            data-voffset="['220','170','170','170']",
            data-basealign="slide" 
            data-responsive_offset="on",
            data-startslide="0",
            data-endslide="2",
            data-frames='[{"delay":3300,"speed":1500,"frame":"0","from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
            data-paddingtop="[0,0,0,0]",
            data-paddingright="[0,0,0,0]",
            data-paddingbottom="[0,0,0,0]",
            data-paddingleft="[0,0,0,0]")
            img(src="images/circle02.png" data-ww="['326px','180px','180px','180px']" data-hh="['326px','180px','180px','180px']")
          .tp-caption.tp-resizeme.tp-static-layer(
            data-x="['left','left','left','left']",
            data-hoffset="['385','185','185','185']",
            data-y="['bottom','bottom','bottom','bottom']",
            data-voffset="['360','240','240','240']",
            data-basealign="slide" 
            data-responsive_offset="on",
            data-startslide="0",
            data-endslide="2",
            data-frames='[{"delay":3600,"speed":1500,"frame":"0","from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
            data-actions='[{"event":"mouseenter","action":"startlayer","layer":"slide-2971-layer-18","delay":""},{"event":"mouseleave","action":"stoplayer","layer":"slide-2971-layer-18","delay":""},{"event":"click","action":"startlayer","layer":"slide-2971-layer-15","delay":""},{"event":"click","action":"startlayer","layer":"slide-2971-layer-19","delay":""},{"event":"click","action":"startlayer","layer":"slide-2971-layer-20","delay":"1000"},{"event":"click","action":"playvideo","layer":"slide-2971-layer-15","delay":"1000"}]'
            data-paddingtop="[0,0,0,0]",
            data-paddingright="[0,0,0,0]",
            data-paddingbottom="[0,0,0,0]",
            data-paddingleft="[0,0,0,0]")
            .btn-play-video
              i.icon.ion-ios-play
  //- about us
  .home06__about
    .container.container-lg
      .row
        .home06__about-inner
          .container
            .row
              .col-md-6
                .main-title
                  p ABOUT US
                  h3 Our Mission, 
                    br
                    | Values and Motto
              .col-md-6
                .home06__about-inner__right
                  p Sagittis sollicitudin porta ridiculus curae condimentum molesti praesent neque cras, magna blandit placerat ac dictumst litora tristique eleifend, diam pharetra nostra tellus erat himenaeos at dictum. Aliquet cubilia cum sociosqu iaculis dapibus tortor orci lobortis tincidunt
                  a(href="#").btn-white--outline ABOUT US
  //- feature
  .home06_feature.mgb
    .container.container-lg
      .row
        .container
          .row
            .title03
              h3
                | WHY CHOOSE US ?
            .home6-feature.block-icon-home
              .row
                .col-sm-4
                  .content-block.d-flex
                    .feature-left
                      span.icon-block.icon.ion-ribbon-a
                    .feature-right
                      h4.title Quality Services
                      p.desc
                        | Conubia ut aliquam cubili gravida sed morbi accumsan hac du, ultrices hendrerit parturien.
                .col-sm-4
                  .content-block.d-flex
                    .feature-left
                      span.icon-block.icon.ion-ios-lightbulb
                    .feature-right
                      h4.title Valuable Ideas
                      p.desc
                        | Conubia ut aliquam cubili gravida sed morbi accumsan hac du, ultrices hendrerit parturien.
                .col-sm-4
                  .content-block.d-flex
                    .feature-left
                      span.icon-block.icon.ion-cash
                    .feature-right
                      h4.title Budget Friendly
                      p.desc
                        | Conubia ut aliquam cubili gravida sed morbi accumsan hac du, ultrices hendrerit parturien.
  //- services
  .home06-services.ssp.bg-blue-light
    .container
      .row
        .main-title
          p MAIN SERVICES
          h3 What we bring to you
          a(href="#") View all services
        .home6-sevives.block-icon-home
          .row
            .col-md-4.col-sm-4
              .content-block
                span.icon-block.icon.ion-cube
                h4.title Audit & Assurance
                .hr_border
                p.desc
                  | Senectus accumsan malesuada cursus dapibus sem primis cubilia, per potenti fermentu massa pulvinar turpis taciti, pellentesque.
                a.links-read-more(href='#') Read more
            .col-md-4.col-sm-4
              .content-block
                span.icon-block.icon.ion-umbrella
                h4.title Financial Consulting
                .hr_border
                p.desc
                  | Justo luctus mus ultricies habitasse dictumst senectus habitant, primis erat mauris odio faucibus cras non interdum.
                a.links-read-more(href='#') Read more
            .col-md-4.col-sm-4
              .content-block
                span.icon-block.icon.ion-podium
                h4.title Trades & Stocks
                .hr_border
                p.desc
                  | Mus leo mauris nec erat ullamcorper orci nascetur, est faucibus auctor natoque tempus eu, eros condimentum et taciti rhoncus.
                a.links-read-more(href='#') Read more      
  //- cta
  .home06-cta-01
    .container
      .row
        .col-md-6
          .main-title--white
            p SUPPORT ONLINE
            h3 Get a Consultation
            span Sed ut perspiciatis unde omnis iste natus error voluptatem accusantium doloremque laudantium, totam rem aperiam.
          .cta-form
            form
              .form-row
                .form-field
                  input.ct-input(type="text", placeholder="Name")
                .form-field
                  input.ct-input(type="email", placeholder="Email address")
              .form-row
                .form-field
                  input.ct-input(type="text", placeholder="Phone number")
                .form-field
                  select.ct-input
                    option 1
                    option 2
              .form-row.last
                .form-field
                  button.btn-orange SUBMIT
  //- testimonials
  .home06-testimonials
    .container.container-lg
      .row
        .home06-testimonials__inner
          .container
            .main-title
              p TESTIMONIAL & PARTNER
              h3 What our clients say
              .group-control.group-slider-control01
                .control.js-btn-prev__testimonial
                  i.fa.fa-angle-left
                .control.js-btn-next__testimonial
                  i.fa.fa-angle-right
            .testimonial.testimonial6
              .testimonial6__content
                .js-slick-testimonial-home06
                  .list-item
                    .row
                      .col-sm-3
                        .thumb-img
                          img(src="images/h3_avatar1.png" alt="")
                      .col-sm-9
                        .testimonial__desc.testimonial6__desc
                          | “I am so happy, my dear friend, so absorbed in the exquisite sense of mere tranquil existence, that I neglect my talents. I should be incapable of drawing a single stroke at the present moment.”
                        .testimonial6__bottom.d-flex
                          .testimonial6__info
                            h3.testimonial-title.pull-left Alexis Paradol
                            p.testimonial-from.pull-left from Berlin		
                          span.testimonial1__star.testimonial__star
                            i.icon.ion-ios-star
                            i.icon.ion-ios-star
                            i.icon.ion-ios-star
                            i.icon.ion-ios-star
                            i.icon.ion-ios-star-half
                  .list-item
                    .row
                      .col-sm-3
                        .thumb-img
                          img(src="images/h3_avatar2.png" alt="")
                      .col-sm-9
                        .testimonial__desc.testimonial6__desc
                          | “I am so happy, my dear friend, so absorbed in the exquisite sense of mere tranquil existence, that I neglect my talents. I should be incapable of drawing a single stroke at the present moment.”
                        .testimonial6__bottom.d-flex
                          .testimonial6__info
                            h3.testimonial-title.pull-left Alexis Paradol
                            p.testimonial-from.pull-left from Berlin		
                          span.testimonial1__star.testimonial__star
                            i.icon.ion-ios-star
                            i.icon.ion-ios-star
                            i.icon.ion-ios-star
                            i.icon.ion-ios-star
                            i.icon.ion-ios-star-half                
                  .list-item
                    .row
                      .col-sm-3
                        .thumb-img
                          img(src="images/h3_avatar1.png" alt="")
                      .col-sm-9
                        .testimonial__desc.testimonial6__desc
                          | “I am so happy, my dear friend, so absorbed in the exquisite sense of mere tranquil existence, that I neglect my talents. I should be incapable of drawing a single stroke at the present moment.”
                        .testimonial6__bottom.d-flex
                          .testimonial6__info
                            h3.testimonial-title.pull-left Alexis Paradol
                            p.testimonial-from.pull-left from Berlin		
                          span.testimonial1__star.testimonial__star
                            i.icon.ion-ios-star
                            i.icon.ion-ios-star
                            i.icon.ion-ios-star
                            i.icon.ion-ios-star
                            i.icon.ion-ios-star-half                  
                  .list-item
                    .row
                      .col-sm-3
                        .thumb-img
                          img(src="images/h3_avatar2.png" alt="")
                      .col-sm-9
                        .testimonial__desc.testimonial6__desc
                          | “I am so happy, my dear friend, so absorbed in the exquisite sense of mere tranquil existence, that I neglect my talents. I should be incapable of drawing a single stroke at the present moment.”
                        .testimonial6__bottom.d-flex
                          .testimonial6__info
                            h3.testimonial-title.pull-left Alexis Paradol
                            p.testimonial-from.pull-left from Berlin		
                          span.testimonial1__star.testimonial__star
                            i.icon.ion-ios-star
                            i.icon.ion-ios-star
                            i.icon.ion-ios-star
                            i.icon.ion-ios-star
                            i.icon.ion-ios-star-half
  //- brand
  .brand.brand-slider-home04
    .container
      .row
        .title02
          h3 OUR PARTNER
        .slider.js-brand-slider.brand-slider
          .brand__item
            a(href="#")
              img(src="images/brand01.png", alt="demo")
          .brand__item
            a(href="#")
              img(src="images/brand02.png", alt="demo")
          .brand__item
            a(href="#")
              img(src="images/brand03.png", alt="demo")
          .brand__item
            a(href="#")
              img(src="images/brand04.png", alt="demo")
          .brand__item
            a(href="#")
              img(src="images/brand05.png", alt="demo")
  //- blog
  .home06-blog.ssp.bg-blue-light
    .container
      .row
        .main-title
          p OUR BLOG
          h3 Our latest news
          a(href="#") View all post
      .row
        .inner
          .row
            .col-md-6
              .post-type-03
                .post-thumb
                  a(href='#')
                    img(src='images/home06-blog-01.jpg')
                .post-content
                  p.post__meta
                    span August 27, 2018
                    span.divider | 
                    a(href='#') Finance
                  h3.post__title
                    a(href='#') Investment Update, Fourth Quarter 2018
                  p.post__desc
                    | Posuere vestibulum arcu nostra nascetur vel nisi laoreet fusce, torquent...
                  .post__meta-info
                    a.read-more(href='#') Read More
            .col-md-6
              .post-type-03
                .post-thumb
                  a(href='#')
                    img(src='images/home06-blog-02.jpg')
                .post-content
                  p.post__meta
                    span August 27, 2018
                    span.divider | 
                    a(href='#') Business
                  h3.post__title
                    a(href='#') Cutting Your Restaurant's Operations Costs
                  p.post__desc
                    | Posuere vestibulum arcu nostra nascetur vel nisi laoreet fusce, torquent...
                  .post__meta-info
                    a.read-more(href='#') Read More
  //- team
  .home02-team.ssp
    .container
      .row
        .main-title
          p OUR TEAM
          h3 Meet our team
          .group-control.group-slider-control01
            .control.js-btn-prev__team
              i.fa.fa-angle-left
            .control.js-btn-next__team
              i.fa.fa-angle-right
      .row
        .home02-team__inner
          .row
            .js-slick-team-home02.slick-team-home02
              .team02__item-carousel
                .team02__item
                  .overlay02
                    p.team02__name James Patterson
                    p.team02__job Founder & CEO
                    .team02__divider
                    p.team02__desc Enim nisi dui potenti tempor lacinia elementum massa nascetur, curabitur augue netus imperdiet nam.
                    ul.list-social01
                      li
                        a(href="#").facebook
                          i.fa.fa-facebook
                      li
                        a(href="#").twitter
                          i.fa.fa-twitter
                      li
                        a(href="#").pinterest
                          i.fa.fa-pinterest
                  img(src="images/team01.png" alt="demo")
              .team02__item-carousel
                .team02__item
                  .overlay02
                    p.team02__name James Patterson
                    p.team02__job Founder & CEO
                    .team02__divider
                    p.team02__desc Enim nisi dui potenti tempor lacinia elementum massa nascetur, curabitur augue netus imperdiet nam.
                    ul.list-social01
                      li
                        a(href="#").facebook
                          i.fa.fa-facebook
                      li
                        a(href="#").twitter
                          i.fa.fa-twitter
                      li
                        a(href="#").pinterest
                          i.fa.fa-pinterest
                  img(src="images/team02.png" alt="demo")
              .team02__item-carousel
                .team02__item
                  .overlay02
                    p.team02__name James Patterson
                    p.team02__job Founder & CEO
                    .team02__divider
                    p.team02__desc Enim nisi dui potenti tempor lacinia elementum massa nascetur, curabitur augue netus imperdiet nam.
                    ul.list-social01
                      li
                        a(href="#").facebook
                          i.fa.fa-facebook
                      li
                        a(href="#").twitter
                          i.fa.fa-twitter
                      li
                        a(href="#").pinterest
                          i.fa.fa-pinterest
                  img(src="images/team03.png" alt="demo")
              .team02__item-carousel
                .team02__item
                  .overlay02
                    p.team02__name James Patterson
                    p.team02__job Founder & CEO
                    .team02__divider
                    p.team02__desc Enim nisi dui potenti tempor lacinia elementum massa nascetur, curabitur augue netus imperdiet nam.
                    ul.list-social01
                      li
                        a(href="#").facebook
                          i.fa.fa-facebook
                      li
                        a(href="#").twitter
                          i.fa.fa-twitter
                      li
                        a(href="#").pinterest
                          i.fa.fa-pinterest
                  img(src="images/team01.png" alt="demo")
              .team02__item-carousel
                .team02__item
                  .overlay02
                    p.team02__name James Patterson
                    p.team02__job Founder & CEO
                    .team02__divider
                    p.team02__desc Enim nisi dui potenti tempor lacinia elementum massa nascetur, curabitur augue netus imperdiet nam.
                    ul.list-social01
                      li
                        a(href="#").facebook
                          i.fa.fa-facebook
                      li
                        a(href="#").twitter
                          i.fa.fa-twitter
                      li
                        a(href="#").pinterest
                          i.fa.fa-pinterest
                  img(src="images/team02.png" alt="demo")
              .team02__item-carousel
                .team02__item
                  .overlay02
                    p.team02__name James Patterson
                    p.team02__job Founder & CEO
                    .team02__divider
                    p.team02__desc Enim nisi dui potenti tempor lacinia elementum massa nascetur, curabitur augue netus imperdiet nam.
                    ul.list-social01
                      li
                        a(href="#").facebook
                          i.fa.fa-facebook
                      li
                        a(href="#").twitter
                          i.fa.fa-twitter
                      li
                        a(href="#").pinterest
                          i.fa.fa-pinterest
                  img(src="images/team03.png" alt="demo")
  //- footer
  include modules/footer/footer01.pug
  //- back to top
  a#to-the-top.fixbtt
    i.fa.fa-chevron-up
  +lib
  script(defer src="js/main-slider-home06.min.js")
  script(defer src="js/slick-team-home02.min.js")
  script(defer src="js/brand-carousel.min.js")
  script(defer src="js/slick-testimonial-home06.min.js")
  script(defer src="js/main-menu-desktop.min.js")
  script(defer src="js/mobilemenu.min.js")
