extends modules/layout/layout.pug
include modules/script/lib
append head
  title="Index - HomePage 03"
append header
  .header03
    .header03__inner
      .heade03__logo
        img(src="images/logo-bg-white.png", alt="demo")
      a(href="#menu").btn-menu-mobile
        i.fa.fa-bars  
      .header03__content
        .header03__content-top
          span
            i.fa.fa-map-marker
            | London City, England ( 
            a(href="#") View map 
            | )
          a(href="tel:+911  125 814 - 3527") 
            i.fa.fa-phone
            | +911  125 814 - 3527
        .header03__content-bottom  
          ul.navi-level-1
            li
              a(href="#") HOME
                i.fa.fa-caret-down
              ul.navi-level-2
                li
                  a(href='index.html') Home Version  1
                li
                  a(href='home_02.html') Home Version  2
                li
                  a(href='home_03.html') Home Version  3
                li
                  a(href='home_04.html') Home Version  4
                li
                  a(href='home_05.html') Home Version  5
                li
                  a(href='home_06.html') Home Version  6
                li
                  a(href='home_07.html') Home Version  7
                li
                  a(href='home_08.html') Home Version  8
            li
              a(href="#") ABOUT
                i.fa.fa-caret-down               
            li
              a(href="#") PAGES
                i.fa.fa-caret-down 
              ul.navi-level-2
                li
                  a(href='#') Shop
                    i.fa.fa-caret-right
                  ul.navi-level-3
                    li
                      a(href='#') Shop 2
                    li
                      a(href='#') Shop 3
                li
                  a(href='#') Event
                    i.fa.fa-caret-right
                  ul.navi-level-3
                    li
                      a(href='#') Event 2
                    li
                      a(href='#') Event 3
                li
                  a(href='#') Case Study
                    i.fa.fa-caret-right
                  ul.navi-level-3
                    li
                      a(href='#') Event 2
                    li
                      a(href='#') Event 3
                li
                  a(href='home_04.html') Coming Soon
                li
                  a(href='home_05.html') 404 Error              
            li
              a(href="#") SERVICES 
                i.fa.fa-caret-down                          
            li
              a(href="#") BLOG
                i.fa.fa-caret-down
              ul.navi-level-2
                li
                  a(href='#') Blog Default
                li
                  a(href='#') Blog Grid
                    i.fa.fa-caret-right
                  ul.navi-level-3
                    li
                      a(href='#') Blog Grid No SideBar
                    li
                      a(href="#") Blog Grid with Left Sidebar
                    li
                      a(href="#") Blog Grid with Right Sidebar
                li
                  a(href='#') Blog List
                li
                  a(href='#') Single Blog
            li
              a(href="#") CONTACTS
          .header01__control
              select.language-select
                option ENG
                option FRA
                option VNI
              .header01__control-inner
                a(href='#').header01-btn-cart
                  i.fa.fa-shopping-cart(aria-hidden='true')
                .header01-search
                  a.header01-btn-search.btn-search-navi(href='#/')
                    i.fa.fa-search(aria-hidden='true')
                  .search-popup
                    form.form-search-navi
                      .input-group
                        input.form-control(placeholder='Enter keyword...', type='text')
  // Mobile Menu
  nav#menu
    ul
      li
        a(href='#') Company
        ul
          li
            a(href='index.html') Home Version  1
          li
            a(href='home_02.html') Home Version  2
          li
            a(href='home_03.html') Home Version  3
          li
            a(href='home_04.html') Home Version  4
          li
            a(href='home_05.html') Home Version  5
          li
            a(href='home_06.html') Home Version  6
          li
            a(href='home_07.html') Home Version  7
          li
            a(href='home_08.html') Home Version  8
      li
        a(href="#") ABOUT
      li
        a(href="#") PAGES
        ul
          li
            a(href='#') Shop
            ul
              li
                a(href='#') Shop 2
              li
                a(href='#') Shop 3
          li
            a(href='#') Event
            ul.navi-level-3
              li
                a(href='#') Event 2
              li
                a(href='#') Event 3
          li
            a(href='#') Case Study
            ul.navi-level-3
              li
                a(href='#') Event 2
              li
                a(href='#') Event 3
          li
            a(href='home_04.html') Coming Soon
          li
            a(href='home_05.html') 404 Error              
      li
        a(href="#") SERVICES 
      li
        a(href="#") BLOG
        ul
          li
            a(href='#') Blog Default
          li
            a(href='#') Blog Grid
            ul
              li
                a(href='#') Blog Grid No SideBar
              li
                a(href="#") Blog Grid with Left Sidebar
              li
                a(href="#") Blog Grid with Right Sidebar
          li
            a(href='#') Blog List
          li
            a(href='#') Single Blog
      li
        a(href="#") CONTACTS
  // /Mobile Menu

append content
  .slider-home-03.rev_slider_wrapper.fullwidthbanner-container
    // START REVOLUTION SLIDER 5.0.7 auto mode
    #js-slider-home03.rev_slider.fullwidthabanner(style='display:none;', data-version="5.4.1")
      ul
        li
          img.rev-slidebg(
            src='images/home03-slide-01.jpg', 
            alt='demo', 
            data-bgposition='center center', 
            data-bgfit='cover', 
            data-bgrepeat='no-repeat')
          .tp-caption.tp-resizeme.sh1--white(
            data-x="['center']", 
            data-hoffset="['0']", 
            data-y='top', 
            data-voffset='250', 
            data-width="auto", 
            data-transform_idle='o:1;', 
            data-transform_in='y:100px;opacity:0;s:800;e:Power3.easeOut;', 
            data-transform_out='s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;', 
            data-start='1500', data-whitespace="['nowrap','nowrap','nowrap','normal']", 
            data-fontsize="['14','14','14','14']", 
            data-responsive_offset='on')
            p ADVISORS & SPECIALISTS
          .tp-caption.tp-resizeme.sh2--white(
            data-x="['center']", 
            data-hoffset="['0']", 
            data-y='center', 
            data-voffset="['0','-55','-55','-55']", 
            data-width="['670','580','480','320']", 
            data-transform_idle='o:1;', 
            data-transform_in='y:100px;opacity:0;s:800;e:Power3.easeOut;', 
            data-transform_out='s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;', 
            data-start='1700', 
            data-whitespace="['normal']", 
            data-fontsize="['50','50','40','30']", 
            data-textalign="center"
            data-lineheight="['60','60','50','40']", 
            data-responsive_offset='on')
            p Best Of business planning
          .tp-caption(
            data-x="['center']", 
            data-hoffset="['0']", 
            data-y='bottom', 
            data-voffset="['200','175','175','175']", 
            data-transform_idle='o:1;', 
            data-transform_in='y:100px;opacity:0;s:800;e:Power3.easeOut;', 
            data-transform_out='s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;', 
            data-start='1900'
            data-actions='[{"event":"mouseenter","action":"startlayer","layer":"slide-2971-layer-18","delay":""},{"event":"mouseleave","action":"stoplayer","layer":"slide-2971-layer-18","delay":""},{"event":"click","action":"startlayer","layer":"slide-2971-layer-15","delay":""},{"event":"click","action":"startlayer","layer":"slide-2971-layer-19","delay":""},{"event":"click","action":"startlayer","layer":"slide-2971-layer-20","delay":"1000"},{"event":"click","action":"playvideo","layer":"slide-2971-layer-15","delay":"1000"}]')
            .btn-play-video
              i.icon.ion-ios-play
          .tp-caption(
            data-x="['center']", 
            data-hoffset="['0']", 
            data-y='bottom', 
            data-voffset="['150','175','175','175']",
            data-fontsize="['14','14','14','14']", 
            data-transform_idle='o:1;', 
            data-transform_in='y:100px;opacity:0;s:800;e:Power3.easeOut;', 
            data-transform_out='s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;', 
            data-start='2000')
            span.video-desc Video Company
          .tp-caption.tp-resizeme.tp-videolayer(
            id="slide-2971-layer-15" 
            data-x="['center','center','center','center']" 
            data-hoffset="['0','0','0','0']" 
            data-y="['middle','middle','middle','middle']" 
            data-voffset="['0','0','0','0']" 
            data-whitespace="nowrap"
            data-type="video" 
            data-responsive_offset="on" 
            data-frames='[{"from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","speed":1500,"to":"o:1;","delay":"bytrigger","ease":"Power3.easeInOut"},{"delay":"bytrigger","speed":300,"to":"auto:auto;","ease":"nothing"}]'
            data-vimeoid="142874198" 
            data-videoattributes="title=0&byline=0&portrait=0&api=1" 
            data-videowidth="['960px','720px','480px','360px']" 
            data-videoheight="['540px','405px','270px','203px']" 
            data-videoloop="none"           
            data-textAlign="['left','left','left','left']"
            data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]"
            data-lasttriggerstate="reset"           
            data-autoplay="off" 
            data-volume="100")
          .tp-caption.rev-btn(
            id="slide-2971-layer-20" 
            data-x="['center','center','center','center']" data-hoffset="['510','389','270','199']" 
            data-y="['middle','middle','middle','middle']" data-voffset="['-298','-229','-163','-118']" 
            data-width="50"
            data-height="none"
            data-whitespace="nowrap"
            data-type="button" 
            data-actions='[{"event":"click","action":"stoplayer","layer":"slide-2971-layer-15","delay":""},{"event":"click","action":"stoplayer","layer":"slide-2971-layer-19","delay":""},{"event":"click","action":"stoplayer","layer":"slide-2971-layer-20","delay":""}]'
            data-responsive_offset="on" 
            data-responsive="off"
            data-frames='[{"from":"z:0;rX:0;rY:0;rZ:45deg;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","speed":500,"to":"o:1;","delay":"bytrigger","ease":"Power3.easeInOut"},{"delay":"bytrigger","speed":500,"to":"auto:auto;","ease":"nothing"},{"frame":"hover","speed":"500","ease":"Power1.easeInOut","to":"o:1;sX:1.1;sY:1.1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(255, 255, 255, 1.00);"}]'
            data-textAlign="['center','center','center','center']"
            data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]"
            data-lasttriggerstate="reset")
            .btn-close-video
              i.icon.ion-android-close

  //- about us
  .container
    .row
      .home03-about-us.ssp
        .home03-about-us__cover
          .cover
            img.cover(src="images/home03-bg-about-us03.jpg")
            .home03-about-us__cover-content
              p.name Caroline Cummings
              p.job-title Founder & CEO
              ul.list-social02--dark
                li
                  a(href="#").facebook
                    i.fa.fa-facebook
                li
                  a(href="#").twitter
                    i.fa.fa-twitter
                li
                  a(href="#").pinterest
                    i.fa.fa-pinterest
          img.cover02(src="images/home03-bg-about-us02.jpg")
        .home03-about-us__content
          .main-title
            p ABOUT US
            h3 Who we are
            span A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy, my dear friend, so absorbed in the exquisite sense of mere tranquil existence, that I neglect my talents.
          a(href="#").btn-orange ABOUT US
  //- services
  .home03-services.bg-blue-light.ssp
    .container
      .row
        .home03-services__inner
          .main-title.text-center
            p OUR SERVICES
            h3 What we bring to you
      .home3-sevives.block-icon-home
        .row
          .col-sm-4
            .content-block.content-block--item1
              span.icon-block.icon.ion-cube
              h4.title Financial Consulting
              p.desc
                | Justo luctus mus ultricies habitasse dictumst senectus habitant, primis erat mauris odio faucibus cras non interdum.
              .content-block--bottom
                a.links-read-more(href='#') Read more
          .col-sm-4
            .content-block.content-block--item2
              span.icon-block.icon.ion-umbrella
              h4.title Audit & Assurance
              p.desc
                | Senectus accumsan malesuada cursus dapibus sem primis cubilia, per potenti fermentu massa pulvinar turpis taciti, pellentesque.
              .content-block--bottom
                a.links-read-more(href='#') Read more
          .col-sm-4
            .content-block.content-block--item3
              span.icon-block.icon.ion-podium
              h4.title Trades & Stocks
              p.desc
                | Mus leo mauris nec erat ullamcorper orci nascetur, est faucibus auctor natoque tempus eu, eros condimentum et taciti rhoncus.
              .content-block--bottom
                a.links-read-more(href='#') Read more
      .text-center
        a(href="#").btn-white ALL SERVICES
  //- cta 01
  .home03-cta01
    .overlay
    .container
      .row
        .inner
          .main-title--white
            p CONTACT US
            h3 Dream Big Inspire the World
          .group-btn
            button.btn-white CONTACT US
            button.btn-orange GET A QUOTE
  //- Testimonial Home Page 3
  .home03-testimonials.ssp
    .container
      .row
        .testimonial.testimonial3
          .main-title
            p TESTIMONIAL & PARTNER
            h3 What our clients say
          .row
            .testimonial4__content
              .group-control.group-slider-control04
                .control.js-btn-prev__testimonial
                  i.fa.fa-angle-left
                .control.js-btn-next__testimonial
                  i.fa.fa-angle-right
              .js-slick-testimonial-home03
                .home03-testimonial-item.list-item
                  .row
                    .col-sm-5
                      .thumb-img
                        img(src="images/h3_avatar1.png" alt="")
                    .col-sm-7
                      .testimonial__desc.testimonial3__desc
                        | “A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.”
                      .testimonial3__bottom
                        .testimonial3__info
                          h3.testimonial-title.pull-left Caroline Cummings
                          p.testimonial-from.pull-left - from Berlin
                        span.testimonial1__star.testimonial__star
                          i.icon.ion-ios-star
                          i.icon.ion-ios-star
                          i.icon.ion-ios-star
                          i.icon.ion-ios-star
                          i.icon.ion-ios-star-half
                .home03-testimonial-item.list-item
                  .row
                    .col-sm-5
                      .thumb-img
                        img(src="images/h3_avatar1.png" alt="")
                    .col-sm-7
                      .testimonial__desc.testimonial3__desc
                        | “A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.”
                      .testimonial3__bottom
                        .testimonial3__info
                          h3.testimonial-title.pull-left Caroline Cummings
                          p.testimonial-from.pull-left - from Berlin
                        span.testimonial1__star.testimonial__star
                          i.icon.ion-ios-star
                          i.icon.ion-ios-star
                          i.icon.ion-ios-star
                          i.icon.ion-ios-star
                          i.icon.ion-ios-star-half  
                .home03-testimonial-item.list-item
                  .row
                    .col-sm-5
                      .thumb-img
                        img(src="images/h3_avatar1.png" alt="")
                    .col-sm-7
                      .testimonial__desc.testimonial3__desc
                        | “A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.”
                      .testimonial3__bottom
                        .testimonial3__info
                          h3.testimonial-title.pull-left Caroline Cummings
                          p.testimonial-from.pull-left - from Berlin
                        span.testimonial1__star.testimonial__star
                          i.icon.ion-ios-star
                          i.icon.ion-ios-star
                          i.icon.ion-ios-star
                          i.icon.ion-ios-star
                          i.icon.ion-ios-star-half
                .home03-testimonial-item.list-item
                  .row
                    .col-sm-5
                      .thumb-img
                        img(src="images/h3_avatar1.png" alt="")
                    .col-sm-7
                      .testimonial__desc.testimonial3__desc
                        | “A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.”
                      .testimonial3__bottom
                        .testimonial3__info
                          h3.testimonial-title.pull-left Caroline Cummings
                          p.testimonial-from.pull-left - from Berlin
                        span.testimonial1__star.testimonial__star
                          i.icon.ion-ios-star
                          i.icon.ion-ios-star
                          i.icon.ion-ios-star
                          i.icon.ion-ios-star
                          i.icon.ion-ios-star-half                                
  //- brand
  .brand.brand-slider-home03
    .container
      .row
        .brand-slider-home03__inner
          .slider.js-brand-slider.brand-slider
            .brand__item
              a(href="#")
                img(src="images/brand01.png", alt="demo")
            .brand__item
              a(href="#")
                img(src="images/brand02.png", alt="demo")
            .brand__item
              a(href="#")
                img(src="images/brand03.png", alt="demo")
            .brand__item
              a(href="#")
                img(src="images/brand04.png", alt="demo")
            .brand__item
              a(href="#")
                img(src="images/brand05.png", alt="demo")
  //- blog
  .home03-blog.ssp.bg-blue-light
    .container
      .main-title.text-center
        p OUR BLOG
        h3 Our latest news
      .row
        .home03-blog__inner
          .home03-blog__left
            .post-type-02
              .post-thumb
                a(href='#')
                  img(src='images/home03-blog-01.jpg')
              .post-badge
                img(src='images/post-icon-highlight.png')
              .post-content
                p.post__meta
                  span August 27, 2018
                  span.divider | 
                  a(href='#') Finance
                h3.post__title
                  a(href='#') Porttitor auctor platea tristique neque, pellentesque suscipit.
                .post__meta-info
                  a.read-more(href='#') Read More
          .home03-blog__right
            .post-type-01__content.bg-white
              .post-content
                p.post__meta
                  span August 27, 2018
                  span.divider | 
                  a(href='#') Business
                h3.post__title
                  a(href='#') Curabitur suspendisse ullamcorper volutpat tempor
                .post__meta-info
                  a.read-more(href='#') Read More
            .post-type-01__content.bg-white
              .post-content
                p.post__meta
                  span August 27, 2018
                  span.divider | 
                  a(href='#') Business
                h3.post__title
                  a(href='#') Ligula magnis et duis litora fusce potenti, leo dis fermentum auctor.
                .post__meta-info
                  a.read-more(href='#') Read More
      .row
        .col-md-12.text-center
          a(href="#").btn-orange View All Posts
  //- cta 02
  .home03-cta02
    .overlay
    .container
      .row
        .inner
          .main-title--white
            p SUBSCRIBE US
            h3 Subscribe for the latest news.
          .subcribe-form
            .form-group
              input.ct-input(type="email", placeholder="Email address")
              button.btn-orange(type="submit")
                i.fa.fa-paper-plane
  //- why us
  .home03-wcu.ssp
    .container
      .row
        .home03-wcu__inner
          .row
            .col-md-6
              .home03-feature-img
                img(src="images/img_feature_03.jpg")
            .col-md-6
              .home03-wcu__inner
                .main-title
                  p FEATURE
                  h3 Why Choose Us
                .main-content
                  #accordion.panel-group(role='tablist', aria-multiselectable='true')
                  .panel.first
                    #headingOne.heading-panel(role='tab')
                      h4.panel-title
                        a(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseOne', aria-expanded='true', aria-controls='collapseOne')
                          span.icon-block.icon.ion-social-buffer
                          span.text-item
                            | responsive all devices
                          span.icon-minus.icon.ion-ios-minus-outline
                          span.icon-plus.ion-ios-plus-outline       
                    #collapseOne.collapse.in(role='tabpanel', aria-labelledby='headingOne')
                      .panel-body
                        | Montes sapien potenti congue vulputate faucibus erat sed  sociis, litora varius tortor magnis non etiam purus libero laore, commodo ultrices aliquam molestie mus risus vehicula pharetra.
                  .panel
                    #headingTwo.heading-panel(role='tab')
                      h4.panel-title
                        a.collapsed(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseTwo', aria-expanded='false', aria-controls='collapseTwo')
                          span.icon-block.icon.ion-headphone
                          span.text-item
                            | support online 24/7  
                          span.icon-minus.icon.ion-ios-minus-outline
                          span.icon-plus.ion-ios-plus-outline  
                    #collapseTwo.collapse(role='tabpanel', aria-labelledby='headingTwo')
                      .panel-body
                        | Montes sapien potenti congue vulputate faucibus erat sed  sociis, litora varius tortor magnis non etiam purus libero laore, commodo ultrices aliquam molestie mus risus vehicula pharetra.
                  .panel
                    #headingThree.heading-panel(role='tab')
                      h4.panel-title
                        a.collapsed(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseThree', aria-expanded='false', aria-controls='collapseThree')
                          span.icon-block.icon.ion-ios-cog
                          span.text-item
                            | smart setting
                          span.icon-minus.icon.ion-ios-minus-outline
                          span.icon-plus.ion-ios-plus-outline   
                    #collapseThree.collapse(role='tabpanel', aria-labelledby='headingThree')
                      .panel-body
                        | Montes sapien potenti congue vulputate faucibus erat sed  sociis, litora varius tortor magnis non etiam purus libero laore, commodo ultrices aliquam molestie mus risus vehicula pharetra.
  //- counter
  .home03-counter.home-counter.ssp
    .container
      .row
        .home03-counter__inner
          .main-title
            p ACHIEVEMENTS & STATISTICS
            h3 Our 25 years of operation
          .main-content
            .row
              .col-md-4
                .content-block
                  .content-center
                    .top-block
                      span.number
                        | 750 +
                    .bottom-block
                      span.icon-block.icon.ion-ios-people
                      span.text-block
                       | 350 clients in the world  
              .col-md-4
                .content-block
                  .content-center
                    .top-block
                      span.number
                        | 1080 +
                    .bottom-block
                      span.icon-block.icon.ion-ribbon-b
                      span.text-block
                       | 1080 the project had finished 
              .col-md-4
                .content-block
                  .content-center
                    .top-block
                      span.number
                        |52 +
                    .bottom-block
                      span.icon-block.icon.ion-ios-person
                      span.text-block
                       | 52 experts are working         
  //- footer
  include modules/footer/footer02.pug
  +lib
  script(defer src="js/brand-carousel.min.js")
  script(defer src="js/main-slider-home03.min.js")
  script(defer src="js/slick-testimonial-home03.min.js")
  script(defer src="js/main-menu-desktop.min.js")
  script(defer src="js/slick-slider-footer-home02.min.js")
  script(defer src="js/mobilemenu.min.js")
