extends modules/layout/layout.pug
include modules/script/lib
append head
  title="Index - HomePage 08"
append header
  .header03
    .header03__inner
      .heade03__logo
        img(src="images/logo-bg-white-black.png", alt="demo")
      a(href="#menu").btn-menu-mobile
        i.fa.fa-bars
      .header03__content
        .header03__content-top
          span
            i.fa.fa-map-marker
            | London City, England ( 
            a(href="#") View map 
            | )
          a(href="tel:+911  125 814 - 3527") 
            i.fa.fa-phone
            | +911  125 814 - 3527
        .header03__content-bottom  
          ul.navi-level-1
            li
              a(href="#") HOME
                i.fa.fa-caret-down
              ul.navi-level-2
                li
                  a(href='index.html') Home Version  1
                li
                  a(href='home_02.html') Home Version  2
                li
                  a(href='home_03.html') Home Version  3
                li
                  a(href='home_04.html') Home Version  4
                li
                  a(href='home_05.html') Home Version  5
                li
                  a(href='home_06.html') Home Version  6
                li
                  a(href='home_07.html') Home Version  7
                li
                  a(href='home_08.html') Home Version  8
            li
              a(href="#") ABOUT
                i.fa.fa-caret-down               
            li
              a(href="#") PAGES
                i.fa.fa-caret-down 
              ul.navi-level-2
                li
                  a(href='#') Shop
                    i.fa.fa-caret-right
                  ul.navi-level-3
                    li
                      a(href='#') Shop 2
                    li
                      a(href='#') Shop 3
                li
                  a(href='#') Event
                    i.fa.fa-caret-right
                  ul.navi-level-3
                    li
                      a(href='#') Event 2
                    li
                      a(href='#') Event 3
                li
                  a(href='#') Case Study
                    i.fa.fa-caret-right
                  ul.navi-level-3
                    li
                      a(href='#') Event 2
                    li
                      a(href='#') Event 3
                li
                  a(href='home_04.html') Coming Soon
                li
                  a(href='home_05.html') 404 Error              
            li
              a(href="#") SERVICES 
                i.fa.fa-caret-down                          
            li
              a(href="#") BLOG
                i.fa.fa-caret-down
              ul.navi-level-2
                li
                  a(href='#') Blog Default
                li
                  a(href='#') Blog Grid
                    i.fa.fa-caret-right
                  ul.navi-level-3
                    li
                      a(href='#') Blog Grid No SideBar
                    li
                      a(href="#") Blog Grid with Left Sidebar
                    li
                      a(href="#") Blog Grid with Right Sidebar
                li
                  a(href='#') Blog List
                li
                  a(href='#') Single Blog
            li
              a(href="#") CONTACTS
          .header01__control
            select.language-select
              option ENG
              option FRA
              option VNI
            .header01__control-inner
              a(href='#').header01-btn-cart
                i.fa.fa-shopping-cart(aria-hidden='true')
              .header01-search
                a.header01-btn-search.btn-search-navi(href='#/')
                  i.fa.fa-search(aria-hidden='true')
                .search-popup
                  form.form-search-navi
                    .input-group
                      input.form-control(placeholder='Enter keyword...', type='text')
  // Mobile Menu
  nav#menu
    ul
      li
        a(href='#') HOME
        ul
          li
            a(href='index.html') Home Version  1
          li
            a(href='home_02.html') Home Version  2
          li
            a(href='home_03.html') Home Version  3
          li
            a(href='home_04.html') Home Version  4
          li
            a(href='home_05.html') Home Version  5
          li
            a(href='home_06.html') Home Version  6
          li
            a(href='home_07.html') Home Version  7
          li
            a(href='home_08.html') Home Version  8
      li
        a(href="#") ABOUT
      li
        a(href="#") PAGES
        ul
          li
            a(href='#') Shop
            ul
              li
                a(href='#') Shop 2
              li
                a(href='#') Shop 3
          li
            a(href='#') Event
            ul.navi-level-3
              li
                a(href='#') Event 2
              li
                a(href='#') Event 3
          li
            a(href='#') Case Study
            ul.navi-level-3
              li
                a(href='#') Event 2
              li
                a(href='#') Event 3
          li
            a(href='home_04.html') Coming Soon
          li
            a(href='home_05.html') 404 Error              
      li
        a(href="#") SERVICES 
      li
        a(href="#") BLOG
        ul
          li
            a(href='#') Blog Default
          li
            a(href='#') Blog Grid
            ul
              li
                a(href='#') Blog Grid No SideBar
              li
                a(href="#") Blog Grid with Left Sidebar
              li
                a(href="#") Blog Grid with Right Sidebar
          li
            a(href='#') Blog List
          li
            a(href='#') Single Blog
      li
        a(href="#") CONTACTS
  // /Mobile Menu

append content
  .section
    .slider-home-08.rev_slider_wrapper.fullwidthbanner-container
      // START REVOLUTION SLIDER 5.0.7 auto mode
      #js-slider-home08.rev_slider.fullwidthabanner(style='display:none;', data-version="5.4.1")
        ul
          li
            img.rev-slidebg(
              src='images/home08-slide-01.jpg', 
              alt='demo', 
              data-bgposition='center center', 
              data-bgfit='cover', 
              data-bgrepeat='no-repeat')
            .tp-caption.tp-resizeme.sh1--white(
              data-x="['left']", 
              data-hoffset="['0', '0']", 
              data-y='center', 
              data-voffset="['-130', '0']",
              data-width="auto", 
              data-transform_idle='o:1;', 
              data-transform_in='y:100px;opacity:0;s:800;e:Power3.easeOut;', 
              data-transform_out='s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;', 
              data-start='1500', data-whitespace="['nowrap','nowrap','nowrap','normal']", 
              data-fontsize="['14','14','14','14']", 
              data-responsive_offset='on')
              p CONSULTAX 2003-2018
            .tp-caption.tp-resizeme.sh2--white(
              data-x="['left']", 
              data-hoffset="['0']", 
              data-y='center', 
              data-voffset="['0','-55','-55','-55']", 
              data-width="['800','580','480','320']", 
              data-transform_idle='o:1;', 
              data-transform_in='y:100px;opacity:0;s:800;e:Power3.easeOut;', 
              data-transform_out='s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;', 
              data-start='1700', 
              data-whitespace="['normal']", 
              data-fontsize="['90','50','40','30']", 
              data-lineheight="['90','60','50','40']", 
              data-responsive_offset='on')
              p Best Of business planning
          li
            img.rev-slidebg(
              src='images/home08-slide-02.jpg', 
              alt='demo', 
              data-bgposition='center center', 
              data-bgfit='cover', 
              data-bgrepeat='no-repeat')
            .tp-caption.tp-resizeme.sh1--white(
              data-x="['left']", 
              data-hoffset="['0', '0']", 
              data-y='center', 
              data-voffset="['-130', '0']",
              data-width="auto", 
              data-transform_idle='o:1;', 
              data-transform_in='y:100px;opacity:0;s:800;e:Power3.easeOut;', 
              data-transform_out='s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;', 
              data-start='1500', data-whitespace="['nowrap','nowrap','nowrap','normal']", 
              data-fontsize="['14','14','14','14']", 
              data-responsive_offset='on')
              p CONSULTAX 2003-2018
            .tp-caption.tp-resizeme.sh2--white(
              data-x="['left']", 
              data-hoffset="['0']", 
              data-y='center', 
              data-voffset="['0','-55','-55','-55']", 
              data-width="['800','580','480','320']", 
              data-transform_idle='o:1;', 
              data-transform_in='y:100px;opacity:0;s:800;e:Power3.easeOut;', 
              data-transform_out='s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;', 
              data-start='1700', 
              data-whitespace="['normal']", 
              data-fontsize="['90','50','40','30']", 
              data-lineheight="['90','60','50','40']", 
              data-responsive_offset='on')
              p Best Of business planning
        .tp-static-layers
          .tp-caption.tp-resizeme.tp-videolayer.tp-static-layer(
            id="slide-2971-layer-15" 
            data-x="['center','center','center','center']" 
            data-hoffset="['0','0','0','0']" 
            data-y="['middle','middle','middle','middle']" 
            data-voffset="['0','0','0','0']" 
            data-whitespace="nowrap"
            data-type="video" 
            data-responsive_offset="on" 
            data-frames='[{"from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","speed":1500,"to":"o:1;","delay":"bytrigger","ease":"Power3.easeInOut"},{"delay":"bytrigger","speed":300,"to":"auto:auto;","ease":"nothing"}]'
            data-vimeoid="142874198" 
            data-videoattributes="title=0&byline=0&portrait=0&api=1" 
            data-videowidth="['960px','720px','480px','360px']" 
            data-videoheight="['540px','405px','270px','203px']" 
            data-videoloop="none"           
            data-textAlign="['left','left','left','left']"
            data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]"
            data-lasttriggerstate="reset"           
            data-autoplay="off" 
            data-volume="100")
          .tp-caption.rev-btn.tp-static-layer(
            id="slide-2971-layer-20" 
            data-x="['center','center','center','center']" data-hoffset="['510','389','270','199']" 
            data-y="['middle','middle','middle','middle']" data-voffset="['-298','-229','-163','-118']" 
            data-width="50"
            data-height="none"
            data-whitespace="nowrap"
            data-type="button" 
            data-actions='[{"event":"click","action":"stoplayer","layer":"slide-2971-layer-15","delay":""},{"event":"click","action":"stoplayer","layer":"slide-2971-layer-19","delay":""},{"event":"click","action":"stoplayer","layer":"slide-2971-layer-20","delay":""}]'
            data-responsive_offset="on" 
            data-responsive="off"
            data-frames='[{"from":"z:0;rX:0;rY:0;rZ:45deg;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","speed":500,"to":"o:1;","delay":"bytrigger","ease":"Power3.easeInOut"},{"delay":"bytrigger","speed":500,"to":"auto:auto;","ease":"nothing"},{"frame":"hover","speed":"500","ease":"Power1.easeInOut","to":"o:1;sX:1.1;sY:1.1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(255, 255, 255, 1.00);"}]'
            data-textAlign="['center','center','center','center']"
            data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]"
            data-lasttriggerstate="reset")
            .btn-close-video
              i.icon.ion-android-close
          .tp-caption.tp-static-layer(
            data-x="['left','left','left','left']" data-hoffset="['20','20','50','50']" 
            data-y="['bottom','bottom','bottom','bottom']" data-voffset="['20','20','20','20']" 
            data-transform_in='y:100px;opacity:0;s:800;e:Power3.easeOut;', 
            data-transform_out='s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;', 
            data-start='1900',
            data-basealign="slide" 
            data-responsive_offset="off",
            data-responsive="off",
            data-startslide="0",
            data-endslide="2",
            data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]"
            data-actions='[{"event":"mouseenter","action":"startlayer","layer":"slide-2971-layer-18","delay":""},{"event":"mouseleave","action":"stoplayer","layer":"slide-2971-layer-18","delay":""},{"event":"click","action":"startlayer","layer":"slide-2971-layer-15","delay":""},{"event":"click","action":"startlayer","layer":"slide-2971-layer-19","delay":""},{"event":"click","action":"startlayer","layer":"slide-2971-layer-20","delay":"1000"},{"event":"click","action":"playvideo","layer":"slide-2971-layer-15","delay":"1000"}]')
            .btn-play-video
              i.icon.ion-stats-bars
              | Play video company
          .tp-caption.tp-static-layer(
            data-x="['right','right','right','right']" data-hoffset="['0']" 
            data-y="['bottom','bottom','bottom','bottom']" data-voffset="['20']" 
            data-transform_in='x:100px;opacity:0;s:800;e:Power3.easeOut;', 
            data-transform_out='s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;', 
            data-start='1900',
            data-width="['30']",
            data-basealign="slide" 
            data-responsive_offset="off",
            data-responsive="off",
            data-startslide="0",
            data-endslide="2",
            data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]")
            ul.list-social02
              li
                a(href="#").facebook
                  i.fa.fa-facebook
              li
                a(href="#").twitter
                  i.fa.fa-twitter
              li
                a(href="#").pinterest
                  i.fa.fa-pinterest
              li
                a(href="#").linkedin
                  i.fa.fa-linkedin
          .tp-caption.tp-static-layer(
            data-transform_in='y:100px;opacity:0;s:800;e:Power3.easeOut;', 
            data-transform_out='s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;', 
            data-start='1900',
            data-width="['auto']",
            data-basealign="slide" 
            data-responsive_offset="off",
            data-responsive="off",
            data-startslide="0",
            data-endslide="2",
            data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]"
            data-actions='[{"event":"click","action":"scrollbelow","offset":"px","delay":""}]')
            button.btn-scroll-next-section.js-btn-scroll-next-section
              span.icon.ion-ios-arrow-thin-left
              span SCROLL 
  //- who we are
  .home02-wwa
    .container.container-lg.vertical-right
      .home08-wwa__inner
        .home02-wwa__content
          .main-title
            p WHO WE ARE
            h3 Our Mission, 
              br  
              | Values and Motto
            span A putrid, nicotine-shaded mist loomed over Beijing on Thursday after a massive sandstorm slammed into the Chinese capital bringing the latest airpocalypse to this smog-choked city.
          .home02-wwa__signature
            p.text-signature Patterson 
            p.name.text-orange James Patterson
            p.job-title Founder & CEO
        .home08-wwa__cover
          img(src="images/home08-wwa01.png", alt='demo')
  //-home08 services
  .home08-services.ssb.section
    .container.container-lg.vertical-right
      .row
        .main-title
          p OUR SERVICES
          h3 what we bring to you
    .home08-services__bottom
      .container.container-lg.vertical-right
        .row
          .home8-sevives
            .row
              .sevives-items.js-slick-services-home08
                .sertices-item__carousel
                  .sevives-item
                    .sevives-top
                      h4 Audit & Assurance
                    .sevives-bottom
                      span.image-icon
                        img(src='images/h8_services_icon1.png').image-item
                .sertices-item__carousel
                  .sevives-item
                    .sevives-top
                      h4 Trades & Stocks
                    .sevives-bottom
                      span.image-icon
                        img(src='images/h8_services_icon2.png').image-item
                .sertices-item__carousel
                  .sevives-item
                    .sevives-top
                      h4 Strategic Planning
                    .sevives-bottom
                      span.image-icon
                        img(src='images/h8_services_icon3.png').image-item
                .sertices-item__carousel
                  .sevives-item
                    .sevives-top
                      h4 Financial Projections
                    .sevives-bottom
                      span.image-icon
                        img(src='images/h8_services_icon4.png').image-item
                .sertices-item__carousel
                  .sevives-item
                    .sevives-top
                      h4 Financial Projections
                    .sevives-bottom
                      span.image-icon
                        img(src='images/h8_services_icon4.png').image-item
        .row  
          .container.vertical-left
            .row
              .home8-services__control
                a(href="#").btn-orange ALL SERVICES
                .group-control.group-slider-control01
                  .control.js-btn-prev__services
                    i.fa.fa-angle-left
                  .control.js-btn-next__services
                    i.fa.fa-angle-right
  //- blog
  .section.ssp
    .container.container-lg.vertical-right
      .row
        container.vertical-left
          .testimonial.testimonial8
            .main-title--vertical
              p 
              | WHAT OUR CLIENTS SAY
          .testimonial8__content.container.vertical-left
            .group-control.group-slider-control06
              .control.js-btn-prev__testimonial
                i.fa.fa-angle-left
              .control.js-btn-next__testimonial
                i.fa.fa-angle-right
            .js-slick-testimonial-home08
              .testimonial8-item
                .testimonial8__top
                  p.testimonial__desc.testimonial8__desc
                    | “ I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. ”
                .testimonial8__bottom.d-flex
                  .testimonial8__avatar
                    img(src="images/h8_avatar.png" alt="")
                  .testimonial8__bottom-right
                    span.testimonial8__star.testimonial__star
                      i.icon.ion-ios-star
                      i.icon.ion-ios-star
                      i.icon.ion-ios-star
                      i.icon.ion-ios-star
                      i.icon.ion-ios-star-half
                    .testimonial8__info
                      h3.testimonial-title.pull-left Caroline Cummings
                      p.testimonial-from.pull-left from Berlin
              .testimonial8-item
                .testimonial8__top
                  p.testimonial__desc.testimonial8__desc
                    | “ I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. ”
                .testimonial8__bottom.d-flex
                  .testimonial8__avatar
                    img(src="images/h8_avatar.png" alt="")
                  .testimonial8__bottom-right
                    span.testimonial8__star.testimonial__star
                      i.icon.ion-ios-star
                      i.icon.ion-ios-star
                      i.icon.ion-ios-star
                      i.icon.ion-ios-star
                      i.icon.ion-ios-star-half
                    .testimonial8__info
                      h3.testimonial-title.pull-left Caroline Cummings
                      p.testimonial-from.pull-left from Berlin    
              .testimonial8-item
                .testimonial8__top
                  p.testimonial__desc.testimonial8__desc
                    | “ I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. ”
                .testimonial8__bottom.d-flex
                  .testimonial8__avatar
                    img(src="images/h8_avatar.png" alt="")
                  .testimonial8__bottom-right
                    span.testimonial8__star.testimonial__star
                      i.icon.ion-ios-star
                      i.icon.ion-ios-star
                      i.icon.ion-ios-star
                      i.icon.ion-ios-star
                      i.icon.ion-ios-star-half
                    .testimonial8__info
                      h3.testimonial-title.pull-left Caroline Cummings
                      p.testimonial-from.pull-left from Berlin    
  //-Subscribe
  .home08-subscribe
    .home08-blog
      .container.container-lg.vertical-right
        .row
          .post-type-04
            .post-thumb
              a(href='#')
                img(src='images/home08-blog-01.jpg')
              .post-badge
                img(src='images/post-icon-highlight.png')
            .post-content
              p.post__meta
                span August 27, 2018
                span.divider | 
                a(href='#') Finance
              h3.post__title
                a(href='#') Touch New Stamp and Presto, Total Solar 
                br
                | Eclipse Becomes Moon
              .post__meta-info.group-btn
                a.btn-orange(href='#') READ MORE
                a.btn-white--outline(href='#') BLOG PAGES
    .subscribe-content.ssp
      .container.container-lg.vertical-right
        .row
          .container.vertical-left
            .row
              .main-title--vertical
                p 
                | never miss out !
              form
                input(type="text" name="subscribe" placeholder="Your E-mail address")
                button.icon.ion-ios-arrow-thin-right
  //-Address
  .home08-address
      .home08-Blog
        .container.container-lg.vertical-right
          .row
            .post-type-04
              .post-thumb
                a(href='#')
                  img(src='images/home08-blog-02.jpg')
              .post-content
                p.post__meta
                  span CONTACT US
                h3.post__title
                  a(href='#') 007 Mr.Bang, Broughton Rd,  London England
                .post__meta-info.group-btn
                  a.btn-orange(href='#') READ MORE
                  a.btn-white--outline(href='#') GET DERECTIONS
  .section
    include modules/footer/footer08.pug
  button.btn-scroll-top-home08#to-the-top
    span TO TOP 
    span.icon.ion-ios-arrow-thin-right
  +lib
  script(defer src="js/main-slider-home08.min.js")
  script(defer src="js/slick-testimonial-home08.min.js")
  script(defer src="js/slick-services-home08.min.js")
  script(defer src="js/main-menu-desktop.min.js")
  script(defer src="js/mobilemenu.min.js")

