extends modules/layout/layout.pug
include modules/script/lib
append head
  title="Index - HomePage 02"
append header
append content
  section
    .slider-home-01.rev_slider_wrapper.fullwidthbanner-container
      // START REVOLUTION SLIDER 5.0.7 auto mode
      #js-slider-home01.rev_slider.fullwidthabanner(style='display:none;', data-version="5.4.1")
        ul
          li
            img.rev-slidebg(
              src='images/home02-slide-e1.jpg', 
              alt='demo', 
              data-bgposition='center center', 
              data-bgfit='cover', 
              data-bgrepeat='no-repeat')
            .tp-caption.tp-resizeme.sh1--white(
              data-x="['left']", 
              data-hoffset="['0']", 
              data-y='top', 
              data-voffset='200', 
              data-width="['580','580','480','320']", 
              data-transform_idle='o:1;', 
              data-transform_in='x:100px;opacity:0;s:800;e:Power3.easeOut;', 
              data-transform_out='s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;', 
              data-start='1500', data-whitespace="['nowrap','nowrap','nowrap','normal']", 
              data-fontsize="['14','14','14','14']", 
              data-responsive_offset='on')
              p ADVISORS & SPECIALISTS
            .tp-caption.tp-resizeme.sh2--white(
              data-x="['left']", 
              data-hoffset="['0']", 
              data-y='center', 
              data-voffset="['-55','-55','-55','-55']", 
              data-width="['670','580','480','320']", 
              data-transform_idle='o:1;', 
              data-transform_in='x:100px;opacity:0;s:800;e:Power3.easeOut;', 
              data-transform_out='s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;', 
              data-start='1700', 
              data-whitespace="['normal']", 
              data-fontsize="['50','50','40','30']", 
              data-lineheight="['60','60','50','40']", 
              data-responsive_offset='on')
              p Financial Consulting For Your Business
            .tp-caption(
              data-x="['left']", 
              data-hoffset="['0']", 
              data-y='center', 
              data-voffset="['70','70','70','70']",
              data-transform_idle='o:1;', 
              data-transform_in='x:100px;opacity:0;s:800;e:Power3.easeOut;', 
              data-transform_out='s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;', 
              data-start='2100')
              a.btn-orange(href='#') GET QUOTE
          li
            img.rev-slidebg(
              src='images/home02-slide-e2.jpg', 
              alt='demo', 
              data-bgposition='center center', 
              data-bgfit='cover', 
              data-bgrepeat='no-repeat')
            .tp-caption.tp-resizeme.sh1--white(
              data-x="['left']", 
              data-hoffset="['0']", 
              data-y='top', 
              data-voffset='200', 
              data-width="['580','580','480','320']", 
              data-transform_idle='o:1;', 
              data-transform_in='x:100px;opacity:0;s:800;e:Power3.easeOut;', 
              data-transform_out='s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;', 
              data-start='1500', data-whitespace="['nowrap','nowrap','nowrap','normal']", 
              data-fontsize="['14','14','14','14']", 
              data-responsive_offset='on')
              p ADVISORS & SPECIALISTS
            .tp-caption.tp-resizeme.sh2--white(
              data-x="['left']", 
              data-hoffset="['0']", 
              data-y='center', 
              data-voffset="['-55','-55','-55','-55']", 
              data-width="['670','580','480','320']", 
              data-transform_idle='o:1;', 
              data-transform_in='x:100px;opacity:0;s:800;e:Power3.easeOut;', 
              data-transform_out='s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;', 
              data-start='1700', 
              data-whitespace="['normal']", 
              data-fontsize="['50','50','40','30']", 
              data-lineheight="['60','60','50','40']", 
              data-responsive_offset='on')
              p Financial Consulting For Your Business
            .tp-caption(
              data-x="['left']", 
              data-hoffset="['0']", 
              data-y='center', 
              data-voffset="['70','70','70','70']",
              data-transform_idle='o:1;', 
              data-transform_in='x:100px;opacity:0;s:800;e:Power3.easeOut;', 
              data-transform_out='s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;', 
              data-start='2100')
              a.btn-orange(href='#') GET QUOTE
  //- our feature
  .home02-our-feature.bg-blue-light
    .container
      .row
        .our-feature02__inner
          .our-feature02__cover(style="background-image: url('images/home02-our-feature01.jpg')")
          .our-feature02__content
            .main-title
              p OUR FEATURED
              h3 Why choose us ?
              span Roncus eu id tristique sollicitudin euismod vestibulum non lectus, senectus conub purusnatoque neque ullamcorper cubilia faucibus, ac eget ultrices hab aliquam molestie. Duis pulvinar ultricies accumsan tortor platea.
  .home02-services.ssp.bg-blue-light
    .container
      .row
        .home02-services__inner
          .main-title
            p OUR SERVICES
            h3 What we bring to you
            a(href="#") All services
        .home2-sevives.block-icon-home
          .row
            .sevives-item.col-md-4.col-sm-6
              .content-block
                span.icon-block.icon.ion-cube
                h4.title Financial Consulting
                .hr_border
                p.desc
                  | Justo luctus mus ultricies habitasse dictumst senectus habitant, primis erat mauris odio faucibus cras non interdum.
                a.links-read-more(href='#') Read more
            .sevives-item.col-md-4.col-sm-6
              .content-block
                span.icon-block.icon.ion-umbrella
                h4.title Audit & Assurance
                .hr_border
                p.desc
                  | Senectus accumsan malesuada cursus dapibus sem primis cubilia, per potenti fermentu massa pulvinar turpis taciti, pellentesque.
                a.links-read-more(href='#') Read more
            .sevives-item.col-md-4.col-sm-6
              .content-block
                span.icon-block.icon.ion-podium
                h4.title Trades & Stocks
                .hr_border
                p.desc
                  | Mus leo mauris nec erat ullamcorper orci nascetur, est faucibus auctor natoque tempus eu, eros condimentum et taciti rhoncus.
                a.links-read-more(href='#') Read more
            .sevives-item.col-md-4.col-sm-6
              .content-block
                span.icon-block.icon.ion-ios-paper
                h4.title Strategic Planning
                .hr_border
                p.desc
                  | Risus aenean ultricies integer purus sociis luctus tristique, sodales fusce ante maecenas massa cum est, ligula hac cursus.
                a.links-read-more(href='#') Read more
            .sevives-item.col-md-4.col-sm-6
              .content-block
                span.icon-block.icon.ion-cash
                h4.title Financial Projections
                .hr_border
                p.desc
                  | Varius scelerisque tristique condimentum habitant dui euismod auctor lacinia maecenas cubilia eleifend erat, purus malesuada.
                a.links-read-more(href='#') Read more
            .sevives-item.col-md-4.col-sm-6
              .content-block
                span.icon-block.icon.ion-podium
                h4.title Bonds & Commodities
                .hr_border
                p.desc
                  | Dis vel quam partur+ient et molestie at morbi vehicula mus phasellussenectus congue lacinia...
                a.links-read-more(href='#') Read more
  //- cta
  .home02-cta
    .container
      .row
        .inner
          .col-md-4.col-md-offset-8
            .main-title
              p SUPPORT
              h3 Request a Free 
                br
                | Call Back
              span Provide discussion information and we'll get back to you as soon as possible
            .cta-form
              form
                .form-row
                  .form-field
                    input.ct-input(type="text", placeholder="Name")
                .form-row
                  .form-field
                    input.ct-input(type="text", placeholder="Phone number")
                .form-row
                  .form-field
                    select.ct-input
                      option Financial Consulting
                      option 2
                .form-row.last
                  .form-field
                    button.btn-orange SUBMIT
  //- who we are
  .home02-wwa.ssp
    .container
      .home02-wwa__inner
        .home02-wwa__cover(style="background-image: url('images/home02-wwa01.jpg')")
          .home02-wwa__cover-inner
            h3 How Can We Help ?
            .home02-wwa__divider
            p.home02-wwa__sm-title
              i.fa.fa-life-ring
              | Hotline 24/7
            p.home02-wwa__text (+917) 814 - 3527   -   (+917) 814 - 3527
            p.home02-wwa__sm-title
              i.fa.fa-location-arrow
              | Location
            p.home02-wwa__text 307 Jesse Centers
              br
              | London City, England 12568 
            a(href="#").btn-orange CONTACT FORM
        .home02-wwa__content
          .main-title
            p WHO WE ARE
            h3 Our Mission, 
              br  
              | Values and Motto
            span A putrid, nicotine-shaded mist loomed over Beijing on Thursday after a massive sandstorm slammed into the Chinese capital bringing the latest airpocalypse to this smog-choked city.
          .home02-wwa__signature
            p.text-signature Patterson 
            p.name.text-orange James Patterson
            p.job-title Founder & CEO
  //-testimonial
  .home02-testimonial.ssp.bg-blue-light.ssb60
    .container
      .row
        .main-title
          p TESTIMONIALS
          h3 What our clients say
      .row
        .testimonial.testimonial2
          .row
            .col-sm-8
              ul.testimonial2__content
                li.list-item.active
                  .testimonial__desc.testimonial2__desc.text-italic
                    | “A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which.”
                  .testimonial2__bottom
                    span.testimonial__star.testimonial__star
                      i.icon.ion-ios-star
                      i.icon.ion-ios-star
                      i.icon.ion-ios-star
                      i.icon.ion-ios-star
                      i.icon.ion-ios-star-half
                    .testimonial2__info
                      h3.testimonial-title.pull-right Caroline Cummings
                      p.testimonial-from.pull-right - from Berlin	
                li.list-item
                  .testimonial__desc.text-italic
                    | “A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which.”
                  .testimonial2__bottom
                    span.testimonial__star.testimonial__star
                      i.icon.ion-ios-star
                      i.icon.ion-ios-star
                      i.icon.ion-ios-star
                      i.icon.ion-ios-star
                      i.icon.ion-ios-star-half
                    .testimonial2__info
                      h3.testimonial-title.pull-right Caroline Cummings
                      p.testimonial-from.pull-right - from Berlin
            .col-sm-4
              ul.testimonial2__thumb
                li.thumb-item
                  img(src="images/h2_avatar1.jpg" alt="")
                li.thumb-item.active
                  img(src="images/h2_avatar1.jpg" alt="")
                li.thumb-item
                  img(src="images/h2_avatar1.jpg" alt="")
                li.thumb-item
                  img(src="images/h2_avatar1.jpg" alt="")
                li.thumb-item
                  img(src="images/h2_avatar1.jpg" alt="")
                li.thumb-item
                  img(src="images/h2_avatar1.jpg" alt="")
  //- blog
  .home02-blog.ssp.sst60.bg-blue-light
    .container
      .row
        .col-md-8
          .main-title
            p OUR BLOG
            h3 Our latest news
            a(href="#") View all post
      .row
        .home02-blog__inner
          .col-md-4
            .post-type-01
              .post-thumb
                a(href='#')
                  img(src='images/home-blog-01.jpg')
              .post-content
                p.post__meta
                  span August 27, 2018
                  span.divider | 
                  a(href='#') Finance
                h3.post__title
                  a(href='#') Investment Update, Fourth Quarter 2018
                p.post__desc
                  | Felis curae augue mi risus sed non interdum commodo, cum sagitti praesent sollicitudin egestas per auctor...
                .post__meta-info
                  a.read-more(href='#') Read More
          .col-md-4
            .post-type-01
              .post-thumb
                a(href='#')
                  img(src='images/home-blog-02.jpg')
              .post-content
                p.post__meta
                  span August 27, 2018
                  span.divider | 
                  a(href='#') Business
                h3.post__title
                  a(href='#') Cutting Your Restaurant's Operations Costs
                p.post__desc
                  | Felis curae augue mi risus sed non interdum commodo, cum sagitti praesent sollicitudin egestas per auctor...
                .post__meta-info
                  a.read-more(href='#') Read More
          .col-md-4
            .home02-cta-02
              .main-title--white-sm
                p SUBSCRIBE
                h3  subscribe for the newsletter
                span Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.
              .cta-form
                form
                  .form-row
                    .form-field
                      input.ct-input(type="email", placeholder="Email address")
                  .form-row.last
                    .form-field
                      button.btn-orange SUBSCRIBE
  //- couter
  .home02-counter.ssp
    .container
      .row
        .home02-counter__inner
          .main-title--white
            p ACHIEVEMENTS & STATISTICS
            h3 Our 25 years of operation
  //- team
  .home02-team.ssp
    .container
      .main-title
        p OUR TEAM
        h3 Meet our team
        .group-control.group-slider-control01
          .control.js-btn-prev__team
            i.fa.fa-angle-left
          .control.js-btn-next__team
            i.fa.fa-angle-right
      .row
        .home02-team__inner
          .js-slick-team-home02.slick-team-home02
            .team02__item-carousel
              .team02__item
                .overlay02
                  p.team02__name James Patterson
                  p.team02__job Founder & CEO
                  .team02__divider
                  p.team02__desc Enim nisi dui potenti tempor lacinia elementum massa nascetur, curabitur augue netus imperdiet nam.
                  ul.list-social01
                    li
                      a(href="#").facebook
                        i.fa.fa-facebook
                    li
                      a(href="#").twitter
                        i.fa.fa-twitter
                    li
                      a(href="#").pinterest
                        i.fa.fa-pinterest
                img(src="images/team01.png" alt="demo")
            .team02__item-carousel
              .team02__item
                .overlay02
                  p.team02__name James Patterson
                  p.team02__job Founder & CEO
                  .team02__divider
                  p.team02__desc Enim nisi dui potenti tempor lacinia elementum massa nascetur, curabitur augue netus imperdiet nam.
                  ul.list-social01
                    li
                      a(href="#").facebook
                        i.fa.fa-facebook
                    li
                      a(href="#").twitter
                        i.fa.fa-twitter
                    li
                      a(href="#").pinterest
                        i.fa.fa-pinterest
                img(src="images/team02.png" alt="demo")
            .team02__item-carousel
              .team02__item
                .overlay02
                  p.team02__name James Patterson
                  p.team02__job Founder & CEO
                  .team02__divider
                  p.team02__desc Enim nisi dui potenti tempor lacinia elementum massa nascetur, curabitur augue netus imperdiet nam.
                  ul.list-social01
                    li
                      a(href="#").facebook
                        i.fa.fa-facebook
                    li
                      a(href="#").twitter
                        i.fa.fa-twitter
                    li
                      a(href="#").pinterest
                        i.fa.fa-pinterest
                img(src="images/team03.png" alt="demo")
            .team02__item-carousel
              .team02__item
                .overlay02
                  p.team02__name James Patterson
                  p.team02__job Founder & CEO
                  .team02__divider
                  p.team02__desc Enim nisi dui potenti tempor lacinia elementum massa nascetur, curabitur augue netus imperdiet nam.
                  ul.list-social01
                    li
                      a(href="#").facebook
                        i.fa.fa-facebook
                    li
                      a(href="#").twitter
                        i.fa.fa-twitter
                    li
                      a(href="#").pinterest
                        i.fa.fa-pinterest
                img(src="images/team01.png" alt="demo")
            .team02__item-carousel
              .team02__item
                .overlay02
                  p.team02__name James Patterson
                  p.team02__job Founder & CEO
                  .team02__divider
                  p.team02__desc Enim nisi dui potenti tempor lacinia elementum massa nascetur, curabitur augue netus imperdiet nam.
                  ul.list-social01
                    li
                      a(href="#").facebook
                        i.fa.fa-facebook
                    li
                      a(href="#").twitter
                        i.fa.fa-twitter
                    li
                      a(href="#").pinterest
                        i.fa.fa-pinterest
                img(src="images/team02.png" alt="demo")
            .team02__item-carousel
              .team02__item
                .overlay02
                  p.team02__name James Patterson
                  p.team02__job Founder & CEO
                  .team02__divider
                  p.team02__desc Enim nisi dui potenti tempor lacinia elementum massa nascetur, curabitur augue netus imperdiet nam.
                  ul.list-social01
                    li
                      a(href="#").facebook
                        i.fa.fa-facebook
                    li
                      a(href="#").twitter
                        i.fa.fa-twitter
                    li
                      a(href="#").pinterest
                        i.fa.fa-pinterest
                img(src="images/team03.png" alt="demo")
  //- brand
  .brand.bg-blue-light
    .container
      .slider.js-brand-slider.brand-slider
        .brand__item
          a(href="#")
            img(src="images/brand01.png", alt="demo")
        .brand__item
          a(href="#")
            img(src="images/brand02.png", alt="demo")
        .brand__item
          a(href="#")
            img(src="images/brand03.png", alt="demo")
        .brand__item
          a(href="#")
            img(src="images/brand04.png", alt="demo")
        .brand__item
          a(href="#")
            img(src="images/brand05.png", alt="demo")
  //- footer
  include modules/footer/footer02.pug
  +lib
  script(defer src="js/main-slider-home01.min.js")
  script(defer src="js/slick-team-home02.min.js")
  script(defer src="js/brand-carousel.min.js")

