extends modules/layout/layout.pug
include modules/script/lib
append head
  title="Index - HomePage 08"
append header
append content
  .section
    .slider-home-08.rev_slider_wrapper.fullwidthbanner-container
      // START REVOLUTION SLIDER 5.0.7 auto mode
      #js-slider-home08.rev_slider.fullwidthabanner(style='display:none;', data-version="5.4.1")
        ul
          li
            img.rev-slidebg(
              src='images/home08-slide-01.jpg', 
              alt='demo', 
              data-bgposition='center center', 
              data-bgfit='cover', 
              data-bgrepeat='no-repeat')
            .tp-caption.tp-resizeme.sh1--white(
              data-x="['left']", 
              data-hoffset="['0', '0']", 
              data-y='center', 
              data-voffset="['-130', '0']",
              data-width="auto", 
              data-transform_idle='o:1;', 
              data-transform_in='y:100px;opacity:0;s:800;e:Power3.easeOut;', 
              data-transform_out='s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;', 
              data-start='1500', data-whitespace="['nowrap','nowrap','nowrap','normal']", 
              data-fontsize="['14','14','14','14']", 
              data-responsive_offset='on')
              p CONSULTAX 2003-2018
            .tp-caption.tp-resizeme.sh2--white(
              data-x="['left']", 
              data-hoffset="['0']", 
              data-y='center', 
              data-voffset="['0','-55','-55','-55']", 
              data-width="['800','580','480','320']", 
              data-transform_idle='o:1;', 
              data-transform_in='y:100px;opacity:0;s:800;e:Power3.easeOut;', 
              data-transform_out='s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;', 
              data-start='1700', 
              data-whitespace="['normal']", 
              data-fontsize="['90','50','40','30']", 
              data-lineheight="['90','60','50','40']", 
              data-responsive_offset='on')
              p Best Of business planning
          li
            img.rev-slidebg(
              src='images/home08-slide-02.jpg', 
              alt='demo', 
              data-bgposition='center center', 
              data-bgfit='cover', 
              data-bgrepeat='no-repeat')
            .tp-caption.tp-resizeme.sh1--white(
              data-x="['left']", 
              data-hoffset="['0', '0']", 
              data-y='center', 
              data-voffset="['-130', '0']",
              data-width="auto", 
              data-transform_idle='o:1;', 
              data-transform_in='y:100px;opacity:0;s:800;e:Power3.easeOut;', 
              data-transform_out='s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;', 
              data-start='1500', data-whitespace="['nowrap','nowrap','nowrap','normal']", 
              data-fontsize="['14','14','14','14']", 
              data-responsive_offset='on')
              p CONSULTAX 2003-2018
            .tp-caption.tp-resizeme.sh2--white(
              data-x="['left']", 
              data-hoffset="['0']", 
              data-y='center', 
              data-voffset="['0','-55','-55','-55']", 
              data-width="['800','580','480','320']", 
              data-transform_idle='o:1;', 
              data-transform_in='y:100px;opacity:0;s:800;e:Power3.easeOut;', 
              data-transform_out='s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;', 
              data-start='1700', 
              data-whitespace="['normal']", 
              data-fontsize="['90','50','40','30']", 
              data-lineheight="['90','60','50','40']", 
              data-responsive_offset='on')
              p Best Of business planning
        .tp-static-layers
          .tp-caption.tp-resizeme.tp-videolayer.tp-static-layer(
            id="slide-2971-layer-15" 
            data-x="['center','center','center','center']" 
            data-hoffset="['0','0','0','0']" 
            data-y="['middle','middle','middle','middle']" 
            data-voffset="['0','0','0','0']" 
            data-whitespace="nowrap"
            data-type="video" 
            data-responsive_offset="on" 
            data-frames='[{"from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","speed":1500,"to":"o:1;","delay":"bytrigger","ease":"Power3.easeInOut"},{"delay":"bytrigger","speed":300,"to":"auto:auto;","ease":"nothing"}]'
            data-vimeoid="142874198" 
            data-videoattributes="title=0&byline=0&portrait=0&api=1" 
            data-videowidth="['960px','720px','480px','360px']" 
            data-videoheight="['540px','405px','270px','203px']" 
            data-videoloop="none"           
            data-textAlign="['left','left','left','left']"
            data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]"
            data-lasttriggerstate="reset"           
            data-autoplay="off" 
            data-volume="100")
          .tp-caption.rev-btn.tp-static-layer(
            id="slide-2971-layer-20" 
            data-x="['center','center','center','center']" data-hoffset="['510','389','270','199']" 
            data-y="['middle','middle','middle','middle']" data-voffset="['-298','-229','-163','-118']" 
            data-width="50"
            data-height="none"
            data-whitespace="nowrap"
            data-type="button" 
            data-actions='[{"event":"click","action":"stoplayer","layer":"slide-2971-layer-15","delay":""},{"event":"click","action":"stoplayer","layer":"slide-2971-layer-19","delay":""},{"event":"click","action":"stoplayer","layer":"slide-2971-layer-20","delay":""}]'
            data-responsive_offset="on" 
            data-responsive="off"
            data-frames='[{"from":"z:0;rX:0;rY:0;rZ:45deg;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","speed":500,"to":"o:1;","delay":"bytrigger","ease":"Power3.easeInOut"},{"delay":"bytrigger","speed":500,"to":"auto:auto;","ease":"nothing"},{"frame":"hover","speed":"500","ease":"Power1.easeInOut","to":"o:1;sX:1.1;sY:1.1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(255, 255, 255, 1.00);"}]'
            data-textAlign="['center','center','center','center']"
            data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]"
            data-lasttriggerstate="reset")
            .btn-close-video
              i.icon.ion-android-close
          .tp-caption.tp-static-layer(
            data-x="['left','left','left','left']" data-hoffset="['20','20','50','50']" 
            data-y="['bottom','bottom','bottom','bottom']" data-voffset="['20','20','20','20']" 
            data-transform_in='y:100px;opacity:0;s:800;e:Power3.easeOut;', 
            data-transform_out='s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;', 
            data-start='1900',
            data-basealign="slide" 
            data-responsive_offset="off",
            data-responsive="off",
            data-startslide="0",
            data-endslide="2",
            data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]"
            data-actions='[{"event":"mouseenter","action":"startlayer","layer":"slide-2971-layer-18","delay":""},{"event":"mouseleave","action":"stoplayer","layer":"slide-2971-layer-18","delay":""},{"event":"click","action":"startlayer","layer":"slide-2971-layer-15","delay":""},{"event":"click","action":"startlayer","layer":"slide-2971-layer-19","delay":""},{"event":"click","action":"startlayer","layer":"slide-2971-layer-20","delay":"1000"},{"event":"click","action":"playvideo","layer":"slide-2971-layer-15","delay":"1000"}]')
            .btn-play-video
              i.icon.ion-stats-bars
              | Play video company
          .tp-caption.tp-static-layer(
            data-x="['right','right','right','right']" data-hoffset="['0']" 
            data-y="['bottom','bottom','bottom','bottom']" data-voffset="['20']" 
            data-transform_in='x:100px;opacity:0;s:800;e:Power3.easeOut;', 
            data-transform_out='s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;', 
            data-start='1900',
            data-width="['30']",
            data-basealign="slide" 
            data-responsive_offset="off",
            data-responsive="off",
            data-startslide="0",
            data-endslide="2",
            data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]")
            ul.list-social02
              li
                a(href="#").facebook
                  i.fa.fa-facebook
              li
                a(href="#").twitter
                  i.fa.fa-twitter
              li
                a(href="#").pinterest
                  i.fa.fa-pinterest
              li
                a(href="#").linkedin
                  i.fa.fa-linkedin
  .home08-wwa.ssp
    .container
      .row
        .col-md-5
          .home04-wwa__description-inner
            p.rotate-title WHO WE ARE
            .main-title
              h3 Our Mission 
                br
                | Values and Motto
              span Porta dictum imperdiet inceptos sodales quam felis luctus ac molestie magna semper, tristique congue sociis libero nibh pretium per gravida varius praesent montes, tincidunt facilisis donec curabitur dapibus id hac mattis.
            .home02-wwa__signature
              p.text-signature Patterson 
              p.name James Patterson
              p.job-title Founder & CEO
        .col-md-7
          .home08-wwa-img
            img(src="images/bg-wwa-right.jpg")
  //-home08 services
  .home08-services.section
    .home08-services__top
      .container  
        .row
          .main-title
            p our services
            h3 what we bring to you
    .home08-services__bottom
      .container
        .home8-sevives
          .sevives-items
            .js-slick-sevives-home08
              .sevives-item.sevives-item-1
                .sevives-top
                  h4 Audit & Assurance
                .sevives-bottom
                  span.image-icon
                    img(src='images/h8_services_icon1.png').image-item
              .sevives-item.sevives-item-2
                .sevives-top
                  h4 Trades & Stocks
                .sevives-bottom
                  span.image-icon
                    img(src='images/h8_services_icon2.png').image-item
              .sevives-item.sevives-item-3
                .sevives-top
                  h4 Strategic Planning
                .sevives-bottom
                  span.image-icon
                    img(src='images/h8_services_icon3.png').image-item
              .sevives-item.sevives-item-4
                .sevives-top
                  h4 Financial Projections
                .sevives-bottom
                  span.image-icon
                    img(src='images/h8_services_icon4.png').image-item
              .sevives-item.sevives-item-1
                .sevives-top
                  h4 Audit & Assurance
                .sevives-bottom
                  span.image-icon
                    img(src='images/h8_services_icon1.png').image-item
              .sevives-item.sevives-item-2
                .sevives-top
                  h4 Trades & Stocks
                .sevives-bottom
                  span.image-icon
                    img(src='images/h8_services_icon2.png').image-item
              .sevives-item.sevives-item-3
                .sevives-top
                  h4 Strategic Planning
                .sevives-bottom
                  span.image-icon
                    img(src='images/h8_services_icon3.png').image-item
              .sevives-item.sevives-item-4
                .sevives-top
                  h4 Financial Projections
                .sevives-bottom
                  span.image-icon
                    img(src='images/h8_services_icon4.png').image-item
          .sevives-items-bottom.d-flex
            a(href="#").view-all-link 
              | all services
            .group-control.group-slider-control07
              .control.js-btn-prev__sevives
                i.fa.fa-angle-left
              .control.js-btn-next__sevives
                i.fa.fa-angle-right            
  //-testimonial
  .section.home08-testimonial.ssp
    .container
      .testimonial.testimonial8
        .main-title--vertical
          p 
           | What our clients tsay
        .testimonial8__content
          .group-control.group-slider-control06
            .control.js-btn-prev__testimonial
              i.fa.fa-angle-left
            .control.js-btn-next__testimonial
              i.fa.fa-angle-right
          .js-slick-testimonial-home08
            .testimonial8-item
              .testimonial8__top
                p.testimonial__desc.testimonial8__desc
                  | “ I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. ”
              .testimonial8__bottom.d-flex
                .testimonial8__avatar
                  img(src="images/h8_avatar.png" alt="")
                .testimonial8__bottom-right
                  span.testimonial8__star.testimonial__star
                    i.icon.ion-ios-star
                    i.icon.ion-ios-star
                    i.icon.ion-ios-star
                    i.icon.ion-ios-star
                    i.icon.ion-ios-star-half
                  .testimonial8__info
                    h3.testimonial-title.pull-left Caroline Cummings
                    p.testimonial-from.pull-left from Berlin
            .testimonial8-item
              .testimonial8__top
                p.testimonial__desc.testimonial8__desc
                  | “ I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. ”
              .testimonial8__bottom.d-flex
                .testimonial8__avatar
                  img(src="images/h8_avatar.png" alt="")
                .testimonial8__bottom-right
                  span.testimonial8__star.testimonial__star
                    i.icon.ion-ios-star
                    i.icon.ion-ios-star
                    i.icon.ion-ios-star
                    i.icon.ion-ios-star
                    i.icon.ion-ios-star-half
                  .testimonial8__info
                    h3.testimonial-title.pull-left Caroline Cummings
                    p.testimonial-from.pull-left from Berlin    
            .testimonial8-item
              .testimonial8__top
                p.testimonial__desc.testimonial8__desc
                  | “ I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. ”
              .testimonial8__bottom.d-flex
                .testimonial8__avatar
                  img(src="images/h8_avatar.png" alt="")
                .testimonial8__bottom-right
                  span.testimonial8__star.testimonial__star
                    i.icon.ion-ios-star
                    i.icon.ion-ios-star
                    i.icon.ion-ios-star
                    i.icon.ion-ios-star
                    i.icon.ion-ios-star-half
                  .testimonial8__info
                    h3.testimonial-title.pull-left Caroline Cummings
                    p.testimonial-from.pull-left from Berlin    
  //-Subscribe
  .home08-subscribe
    .home08-blog
      .container
        .post-type-04
          .post-thumb
            a(href='#')
              img(src='images/home08-blog-01.jpg')
            .post-badge
              img(src='images/post-icon-highlight.png')
          .post-content
            p.post__meta
              span August 27, 2018
              span.divider | 
              a(href='#') Finance
            h3.post__title
              a(href='#') Touch New Stamp and Presto, Total Solar 
              br
              | Eclipse Becomes Moon
            .post__meta-info.d-flex
              a.read-more(href='#') Read More
              a.blog-page(href='#') Blog Pages
    .subscribe-content.ssp
      .container
        .main-title--vertical
          p 
           | never miss out !
        form
          input(type="text" name="subscribe" placeholder="Your E-mail address")
          button.icon.ion-ios-arrow-thin-right
  //-Address
  .home08-address
      .home08-Blog
        .container
          .post-type-04
            .post-thumb
              a(href='#')
                img(src='images/home08-blog-02.jpg')
            .post-content
              p.post__meta
                span CONTACT US
              h3.post__title
                a(href='#') 007 Mr.Bang, Broughton Rd,  London England
              .post__meta-info
                a.read-more(href='#') Read More
                a.blog-page(href='#') Blog Pages
  .section
    include modules/footer/footer08.pug
  button.btn-scroll-next-section.js-btn-scroll-next-section
    span.icon.ion-ios-arrow-thin-left
    span SCROLL 
  +lib
  script(defer src="js/main-slider-home08.min.js")
  script(defer src="js/slick-testimonial-home08.min.js")
  script(defer src="js/slick-sevives-home08.min.js")
  script.
    $.fn.isInViewport = function() {
      var elementTop = $(this).offset().top;
      var elementBottom = elementTop + $(this).outerHeight();
      var viewportTop = $(window).scrollTop();
      var viewportBottom = viewportTop + $(window).height();
      return elementBottom > viewportTop && elementTop < viewportBottom;
    };

    $(window).on('resize scroll load', function() {
      $('.section').each(function() {
        if ($(this).isInViewport()) {
          $(this).addClass('active');
        } else {
          $(this).removeClass('active');
        }
      });
    });

    $('.js-btn-scroll-next-section').on('click', function () {
      var nextSectionArray = $('.section.active');
      var length = nextSectionArray.length
      var currentSection = nextSectionArray[length - 1]
      var nextSection = $(currentSection).next('.section')
      if(nextSection) {
        $("html, body").animate({
          scrollTop: $(nextSection).offset().top
        }, 600);
      }
      return false;
    });
