extends modules/layout/layout.pug
include modules/script/lib
append head
  title="Index - HomePage 04"
append header
append content
  section
    .slider-home-01.rev_slider_wrapper.fullwidthbanner-container
      // START REVOLUTION SLIDER 5.0.7 auto mode
      #js-slider-home01.rev_slider.fullwidthabanner(style='display:none;', data-version="5.4.1")
        ul
          li
            img.rev-slidebg(
              src='images/home04-slide-bg.jpg', 
              alt='demo', 
              data-bgposition='center center', 
              data-bgfit='cover', 
              data-bgrepeat='no-repeat')
            .tp-caption.tp-resizeme.sh1--dark(
              data-x="['left']", 
              data-hoffset="['0']", 
              data-y='top', 
              data-voffset='200', 
              data-width="['580','580','480','320']", 
              data-transform_idle='o:1;', 
              data-transform_in='x:100px;opacity:0;s:800;e:Power3.easeOut;', 
              data-transform_out='s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;', 
              data-start='1500', data-whitespace="['nowrap','nowrap','nowrap','normal']", 
              data-fontsize="['14','14','14','14']", 
              data-responsive_offset='on')
              p WE'RE CONSULTAX
            .tp-caption.tp-resizeme.sh2--dark(
              data-x="['left']", 
              data-hoffset="['0']", 
              data-y='center', 
              data-voffset="['-55','-55','-55','-55']", 
              data-width="['670','580','480','320']", 
              data-transform_idle='o:1;', 
              data-transform_in='x:100px;opacity:0;s:800;e:Power3.easeOut;', 
              data-transform_out='s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;', 
              data-start='1700', 
              data-whitespace="['normal']", 
              data-fontsize="['50','50','40','30']", 
              data-lineheight="['60','60','50','40']", 
              data-responsive_offset='on')
              p Your success is our pleasure
            .tp-caption.tp-resizeme.sh3--dark(
              data-x="['left']", 
              data-hoffset="['0']", 
              data-y='center', 
              data-voffset="['60','60','60','60']", 
              data-width="['580','580','480','300']", 
              data-transform_idle='o:1;', 
              data-whitespace="['normal','normal','normal','normal']", 
              data-transform_in='x:100px;opacity:0;s:800;e:Power3.easeOut;', 
              data-transform_out='s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;', 
              data-start='1900', 
              data-fontsize="['16','16','14','12']", 
              data-lineheight="['24','24','18','16']", 
              data-responsive_offset='on')
              p Augue cubilia habitasse nostra sed dui facilisi lacus varius, porttitor gravida ultrices tristique hendrerit quisque congue facilisis...
            .tp-caption(
              data-x="['left']", 
              data-hoffset="['0']", 
              data-y='bottom', 
              data-voffset="['175','175','175','175']", 
              data-transform_idle='o:1;', 
              data-transform_in='x:100px;opacity:0;s:800;e:Power3.easeOut;', 
              data-transform_out='s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;', 
              data-start='2100')
              a.btn-white(href='#') ABOUT US
  //- services
  .home04-services.ssp
    .container
      .row
        .main-title
          p MAIN SERVICES
          h3 What we bring to you
          a(href="#").read-more All services
        .home4-sevives.block-icon-home
          .row
            .col-md-4.col-sm-6
              .content-block
                span.icon-block.icon.ion-cube
                h4.title Financial Consulting
                p.desc
                  | Justo luctus mus ultricies habitasse dictumst senectus habitant, primis erat mauris odio faucibus cras non interdum.
                a.links-read-more(href='#') Read more
            .col-md-4.col-sm-6
              .content-block
                span.icon-block.icon.ion-umbrella
                h4.title Audit & Assurance
                p.desc
                  | Senectus accumsan malesuada cursus dapibus sem primis cubilia, per potenti fermentu massa pulvinar turpis taciti, pellentesque.
                a.links-read-more(href='#') Read more
            .col-md-4.col-sm-6
              .content-block
                span.icon-block.icon.ion-podium
                h4.title Trades & Stocks
                p.desc
                  | Mus leo mauris nec erat ullamcorper orci nascetur, est faucibus auctor natoque tempus eu, eros condimentum et taciti rhoncus.
                a.links-read-more(href='#') Read more     
  //- who we are
  .home04-wwa.ssp
    .container
      .row
        .home04-wwa__inner
          .home04-wwa__slider
            .home04-wwa-item
              img(src="images/home04-wwa-01.jpg", alt="demo")
          .row
            .home04-wwa__description
              .col-md-7
                .home04-wwa__description-inner
                  p.rotate-title WHO WE ARE
                  .main-title
                    h3 Our Mission 
                      br
                      | Values and Motto
                    span Porta dictum imperdiet inceptos sodales quam felis luctus ac molestie magna semper, tristique congue sociis libero nibh pretium per gravida varius praesent montes, tincidunt facilisis donec curabitur dapibus id hac mattis.
                  .home02-wwa__signature
                    p.text-signature Patterson 
                    p.name James Patterson
                    p.job-title Founder & CEO
              .col-md-5
                .home04-wwa__description-inner--right
                  p.rotate-title OUR FEATURED
                  .home04-wwa__sm-block
                    h3.text-orange We Innovate
                    p Bibendum at gravida ridiculus convallis donec quisque eros ad vivamus nunc.
                  .home04-wwa__sm-block
                    h3.text-orange Performance
                    p Fames quam sed enim nibh sagittis convallis urna magna, fusce penatibus augue aliquam dignissim commodon
                  .home04-wwa__sm-block
                    h3.text-orange Reponsive
                    p Ornare porta vel mollis dignissi tempus phasellus tincidunt, augue nec.
  //- brand
  .brand.brand-slider-home04
    .container
      .title02
        h3 OUR PARTNER
      .slider.js-brand-slider.brand-slider
        .brand__item
          a(href="#")
            img(src="images/brand01.png", alt="demo")
        .brand__item
          a(href="#")
            img(src="images/brand02.png", alt="demo")
        .brand__item
          a(href="#")
            img(src="images/brand03.png", alt="demo")
        .brand__item
          a(href="#")
            img(src="images/brand04.png", alt="demo")
        .brand__item
          a(href="#")
            img(src="images/brand05.png", alt="demo")
  //- blog
  .home04-blog.ssp
    .overlay03
    .home04-blog__inner
      .container
        .main-title--white
          p WHO WE ARE
          h3 Our latest news
          a(href="#").read-more All services
        .row
          .col-md-6
            .post-type-05
              .post-thumb
                a(href='#')
                  img(src='images/home04-blog-01.jpg')
              .post-content
                p.post__meta
                  span August 27, 2018
                  span.divider | 
                  a(href='#') Finance
                h3.post__title
                  a(href='#') Ligula magnis et duis litora fusce pote leo dis fermentum auctor.
                .post__meta-info
                  a.read-more(href='#') Read More
          .col-md-6
            .post-type-05
              .post-thumb
                a(href='#')
                  img(src='images/home04-blog-02.jpg')
              .post-content
                p.post__meta
                  span August 27, 2018
                  span.divider | 
                  a(href='#') Finance
                h3.post__title
                  a(href='#') Varius pharetra convallis morbi cum scelerisque ligula aliquam
                .post__meta-info
                  a.read-more(href='#') Read More
  //- team
  .team04.mgt
    .container
      .row
        .col-md-5
          .main-title--vertical
            p OUR TEAM
            h3 Meet our team
            span Odio leo parturient vehicula arcu donec mi scelerisque, ante maecenas cras luctus habitant.
            a.read-more(href="#") View more
        .col-md-7
          .team04__inner
            .group-slider-control02
              .control.js-btn-prev__team.prev
                i.fa.fa-angle-left
              .control.js-btn-next__team.next
                i.fa.fa-angle-right
            .js-slick-team-home04.slick-team-home04
              .team04__item-carousel
                .team04__item
                  .team04__item-img
                    img(src="images/team01.png" alt="demo")
                    .overlay03
                      ul.list-social03
                        li
                          a(href="#").facebook
                            i.fa.fa-facebook
                        li
                          a(href="#").twitter
                            i.fa.fa-twitter
                        li
                          a(href="#").pinterest
                            i.fa.fa-pinterest
                  .team04__item--info
                    p.team04__name Erica Romaguera
                    p.team04__job Founder & CEO
              .team04__item-carousel
                .team04__item
                  .team04__item-img
                    img(src="images/team02.png" alt="demo")
                    .overlay03
                      ul.list-social03
                        li
                          a(href="#").facebook
                            i.fa.fa-facebook
                        li
                          a(href="#").twitter
                            i.fa.fa-twitter
                        li
                          a(href="#").pinterest
                            i.fa.fa-pinterest
                  .team04__item--info
                    p.team04__name James Patterson
                    p.team04__job Expert
              .team04__item-carousel
                .team04__item
                  .team04__item-img
                    img(src="images/team01.png" alt="demo")
                    .overlay03
                      ul.list-social03
                        li
                          a(href="#").facebook
                            i.fa.fa-facebook
                        li
                          a(href="#").twitter
                            i.fa.fa-twitter
                        li
                          a(href="#").pinterest
                            i.fa.fa-pinterest
                  .team04__item--info
                    p.team04__name Erica Romaguera
                    p.team04__job Founder & CEO
              .team04__item-carousel
                .team04__item
                  .team04__item-img
                    img(src="images/team02.png" alt="demo")
                    .overlay03
                      ul.list-social03
                        li
                          a(href="#").facebook
                            i.fa.fa-facebook
                        li
                          a(href="#").twitter
                            i.fa.fa-twitter
                        li
                          a(href="#").pinterest
                            i.fa.fa-pinterest
                  .team04__item--info
                    p.team04__name James Patterson
                    p.team04__job Expert     
              .team04__item-carousel
                .team04__item
                  .team04__item-img
                    img(src="images/team01.png" alt="demo")
                    .overlay03
                      ul.list-social03
                        li
                          a(href="#").facebook
                            i.fa.fa-facebook
                        li
                          a(href="#").twitter
                            i.fa.fa-twitter
                        li
                          a(href="#").pinterest
                            i.fa.fa-pinterest
                  .team04__item--info
                    p.team04__name Erica Romaguera
                    p.team04__job Founder & CEO
              .team04__item-carousel
                .team04__item
                  .team04__item-img
                    img(src="images/team02.png" alt="demo")
                    .overlay03
                      ul.list-social03
                        li
                          a(href="#").facebook
                            i.fa.fa-facebook
                        li
                          a(href="#").twitter
                            i.fa.fa-twitter
                        li
                          a(href="#").pinterest
                            i.fa.fa-pinterest
                  .team04__item--info
                    p.team04__name James Patterson
                    p.team04__job Expert
  //- location
  .home04-location.mgt
    .container
      .row
        .col-md-5
          .main-title
            p LOCATION
            h3 Where we work
          .home04-location__inner
            p
              span Phone: 
              a(href="tel:+1253 1245 1245") +1253 1245 1245
            p
              span Office London: 
              | Flat 60, Ross Green, South Lilyberg, Q7M 8ZV, London, England (
              a(href="#") view map
              |)
            p
              span Mail: 
              | info.londonconsulting.com
        .col-md-7
          img(src="images/home04-location01.jpg", alt="demo")
  //- testimonial
  .home04-testimonials.ssp  
    .container
      .row
        .col-md-5
          .main-title--vertical
            p TESTIMONIAL
            h3 What our 
              br
              | customer say
            a.read-more(href="#") View more
        .col-md-7
          .testimonial.testimonial4
            .js-testimonial-thumbs-home04.testimonial4__thumb
              .thumb-item
                img(src="images/h2_avatar1.jpg" alt="")
              .thumb-item
                img(src="images/h2_avatar1.jpg" alt="")
              .thumb-item
                img(src="images/h2_avatar1.jpg" alt="")
              .thumb-item
                img(src="images/h2_avatar1.jpg" alt="")
              .thumb-item
                img(src="images/h2_avatar1.jpg" alt="")
              .thumb-item
                img(src="images/h2_avatar1.jpg" alt="")
            .js-testimonial-main-home04.testimonial4__content
              .list-item
                .testimonial__desc.testimonial4__desc.text-italic
                  | “Viverra nam nunc hac posuere tristique vestibulum vehicula e molestie ultricies, etiam mauris eleifend urna himenaeos elementum phasellus eros, faucibus netus varius condimentum sociis augue.”
                .testimonial4__bottom
                  .testimonial4__info
                    h3.testimonial-title.pull-left Caroline Cummings
                    p.testimonial-from.pull-left from Berlin
                  span.testimonial4__star.testimonial__star
                    i.icon.ion-ios-star
                    i.icon.ion-ios-star
                    i.icon.ion-ios-star
                    i.icon.ion-ios-star
                    i.icon.ion-ios-star-half
              .list-item
                .testimonial__desc.testimonial4__desc.text-italic
                  | “Viverra nam nunc hac posuere tristique vestibulum vehicula e molestie ultricies, etiam mauris eleifend urna himenaeos elementum phasellus eros, faucibus netus varius condimentum sociis augue.”
                .testimonial4__bottom
                  .testimonial4__info
                    h3.testimonial-title.pull-left Caroline Cummings
                    p.testimonial-from.pull-left from Berlin
                  span.testimonial4__star.testimonial__star
                    i.icon.ion-ios-star
                    i.icon.ion-ios-star
                    i.icon.ion-ios-star
                    i.icon.ion-ios-star
                    i.icon.ion-ios-star-half
              .list-item
                .testimonial__desc.testimonial4__desc.text-italic
                  | “Viverra nam nunc hac posuere tristique vestibulum vehicula e molestie ultricies, etiam mauris eleifend urna himenaeos elementum phasellus eros, faucibus netus varius condimentum sociis augue.”
                .testimonial4__bottom
                  .testimonial4__info
                    h3.testimonial-title.pull-left Caroline Cummings
                    p.testimonial-from.pull-left from Berlin
                  span.testimonial4__star.testimonial__star
                    i.icon.ion-ios-star
                    i.icon.ion-ios-star
                    i.icon.ion-ios-star
                    i.icon.ion-ios-star
                    i.icon.ion-ios-star-half
              .list-item
                .testimonial__desc.testimonial4__desc.text-italic
                  | “Viverra nam nunc hac posuere tristique vestibulum vehicula e molestie ultricies, etiam mauris eleifend urna himenaeos elementum phasellus eros, faucibus netus varius condimentum sociis augue.”
                .testimonial4__bottom
                  .testimonial4__info
                    h3.testimonial-title.pull-left Caroline Cummings
                    p.testimonial-from.pull-left from Berlin
                  span.testimonial4__star.testimonial__star
                    i.icon.ion-ios-star
                    i.icon.ion-ios-star
                    i.icon.ion-ios-star
                    i.icon.ion-ios-star
                    i.icon.ion-ios-star-half
              .list-item
                .testimonial__desc.testimonial4__desc.text-italic
                  | “Viverra nam nunc hac posuere tristique vestibulum vehicula e molestie ultricies, etiam mauris eleifend urna himenaeos elementum phasellus eros, faucibus netus varius condimentum sociis augue.”
                .testimonial4__bottom
                  .testimonial4__info
                    h3.testimonial-title.pull-left Caroline Cummings
                    p.testimonial-from.pull-left from Berlin
                  span.testimonial4__star.testimonial__star
                    i.icon.ion-ios-star
                    i.icon.ion-ios-star
                    i.icon.ion-ios-star
                    i.icon.ion-ios-star
                    i.icon.ion-ios-star-half
              .list-item
                .testimonial__desc.testimonial4__desc.text-italic
                  | “Viverra nam nunc hac posuere tristique vestibulum vehicula e molestie ultricies, etiam mauris eleifend urna himenaeos elementum phasellus eros, faucibus netus varius condimentum sociis augue.”
                .testimonial4__bottom
                  .testimonial4__info
                    h3.testimonial-title.pull-left Caroline Cummings
                    p.testimonial-from.pull-left from Berlin
                  span.testimonial4__star.testimonial__star
                    i.icon.ion-ios-star
                    i.icon.ion-ios-star
                    i.icon.ion-ios-star
                    i.icon.ion-ios-star
                    i.icon.ion-ios-star-half
  //- footer
  .footer04
    .overlay03
    .container
      .footer04__first-row
        .row
          .col-md-6
            .main-title--white
              h3 Request a Free 
                br  
                | Call Back
              span Provide discussion information and we'll get back to 
                br 
                | you as soon as possible
          .col-md-6
            .cta-form
              form
                .form-row
                  .form-field
                    input.ct-input(type="text", placeholder="Name")
                  .form-field
                    select.ct-input
                      option 1
                      option 2
                .form-row
                  .form-field
                    input.ct-input(type="email", placeholder="Email address")
                  .form-field
                    input.ct-input(type="text", placeholder="Phone number")
                .form-row.last
                  .form-field
                    button.btn-orange SUBMIT
      .footer04__divider
      .footer04__second-row 
        .row
          .col-md-4
            .footer08__block01
              a(href="index.html")
                img(src="images/logo-white.png")
              p Lorem ipsum dolor sit amet consectetur adipiscing elit praesent, laoreet vitae luctus...
                a.read-more(href="#") Read more
          .col-md-8
            .footer08__block02
              ul.list__link03--white
                li
                  a(href="#") Services
                li
                  a(href="#") FAQ
                li
                  a(href="#") About us
                li
                  a(href="#") Featured
                li
                  a(href="#") Coctact
                li
                  a(href="#") Cases
              ul.list-social02
                  li
                    a(href="#").facebook
                      i.fa.fa-facebook
                  li
                    a(href="#").twitter
                      i.fa.fa-twitter
                  li
                    a(href="#").pinterest
                      i.fa.fa-pinterest
                  li
                    a(href="#").linkedin
                      i.fa.fa-linkedin
              span.text-copyright © 2018 Finacial Consulting Theme by Ocean Themes
  +lib
  script(defer src="js/main-slider-home01.min.js")
  script(defer src="js/slick-team-home04.min.js")
  script(defer src="js/slick-testimonial-home04.min.js")
  script(defer src="js/brand-carousel.min.js")

